<app-banner></app-banner>

<section id="info-page">
	<div class="container">
		<div class="row">
			<!--  -->
			<div class="col-sm-6">
				<h2> פרטי מנוי  </h2>
				<table class="table">
				  <tbody>
				    <tr>
				      <td>Darya</td>
				      <td>שם: </td>
				    </tr>
				    <tr>
				      <td>Neyburger</td>
				      <td>שם משפחה:</td>
				    </tr>
				    <tr>
				      <td>054-5886818</td>
				      <td>טלפון: </td>
				    </tr>
				    <tr>
				      <td>Daryaney@gmail.com</td>
				      <td>דוא”ל  </td>
				    </tr>
				    <tr>
				      <td>רעננה , רח, פרדס משוטף 13</td>
				      <td>כתובת מגורים : </td>
				    </tr>
				  </tbody>
				</table>

				<button mat-button 
				(click)="openDialog()"
				class="bg-button bg-green-button"> עדכן   </button>
			</div>
			<!--  -->
			<div class="col-sm-6">
				<h2> פרטי תשלום   </h2>
				<table class="table">
				  <tbody>
				    <tr>
				      <td>Darya Ney </td>
				      <td>שם בעל הכרטיס:  </td>
				    </tr>
				    <tr>
				      <td>****-1258</td>
				      <td>מספר כרטיס: </td>
				    </tr>
				    <tr>
				      <td>01/21</td>
				      <td>תוקף: </td>
				    </tr>
				  </tbody>
				</table>
				<button mat-button 
				(click)="openDialog()"
				class="bg-button bg-green-button"> עדכן   </button>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-6">
				<h2> חשבוניות שלי  </h2>
				<table class="table invoices">
				  <tbody>
				    <tr>
				      <td>
				      	117 ₪
				      	<a target="_blank" href="./assets/pdf/pdf-test.pdf">
				      		<i class="material-icons">visibility</i>
				      	</a>
				      </td>
				      <td><span>05/20/18</span>  סים לכל החיים - כרטיס ומשלוח   </td>
				    </tr>
				    <tr>
				      <td>
				      	29 ₪
				      	<a target="_blank" href="./assets/pdf/pdf-test.pdf">
				      		<i class="material-icons">visibility</i>
				      	</a>
				      </td>
				      <td><span>05/20/18</span>  חשבונית   </td>
				    </tr>
				    <tr>
				      <td>
				      	129 ₪
				      	<a target="_blank" href="./assets/pdf/pdf-test.pdf">
				      		<i class="material-icons">visibility</i>
				      	</a>
				      </td>
				      <td><span>05/20/18</span>  חשבונית   </td>
				    </tr>
				  </tbody>
				</table>
			</div>
			<!--  -->
			<div class="col-sm-6">
				<h2> כרטיסי סים שלי   </h2>
				<table class="table">
				  <tbody>
				    <tr>
				      <td>Bglobal sim</td>
				      <td>סוג כרטיס :</td>
				    </tr>
				    <tr>
				      <td>פעיל  </td>
				      <td>סטטוס הכרטיס  </td>
				    </tr>
				    <tr>
				      <td>054-8668951</td>
				      <td>מפסר שלי  </td>
				    </tr>
				    <tr>
				      <td>לספרד unlimited</td>
				      <td>חבילת גלישה  </td>
				    </tr>
				    <tr>
				      <td>לא נבחר  </td>
				      <td>חבילת שיחות  </td>
				    </tr>
				  </tbody>
				</table>
			</div>
			<!--  -->
		</div>
	</div>
</section>