@import '../assets/scss/typography';

#home-slider{
	box-shadow: 0px 6px 11.52px 0.48px rgba(0, 0, 0, 0.25);
	position: relative;
	z-index: 4;
	.swiper-slide{
		display: flex;
	    flex-direction: column;
	    justify-content: center;
		height: 730px;
		overflow: hidden;
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			position: absolute;
			z-index: 0;
			cursor: pointer;
		}
		.banner-text{
			text-align: right;
			position: relative;
  			font-size: 160px;
			color: $purple-light;
			max-width: 760px;
			font-weight: 900;
			margin-left: auto;
			line-height: 1;
			cursor: pointer;
		}
		.slide-animate-text{
			animation: bounceInRight 2s;
		}
		
	}
	.hedline{
		background: rgba(81,46,127,1);
		background: linear-gradient(to right, rgba(81,46,127,1) 0%, rgba(165,25,106,1) 80%, rgba(165,25,106,1) 100%);
		color: #fff;
		height: 100px;
		h1{
			font-weight: 900;
		}
	}
}

@keyframes bounceInRight {
	from,
	60%,
	75%,
	90%,
	to {
	-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	from {
	opacity: 0;
	-webkit-transform: translate3d(3000px, 0, 0);
	transform: translate3d(3000px, 0, 0);
	}

	60% {
	opacity: 1;
	-webkit-transform: translate3d(-25px, 0, 0);
	transform: translate3d(-25px, 0, 0);
	}

	75% {
	-webkit-transform: translate3d(10px, 0, 0);
	transform: translate3d(10px, 0, 0);
	}

	90% {
	-webkit-transform: translate3d(-5px, 0, 0);
	transform: translate3d(-5px, 0, 0);
	}

	to {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	}
}

/* Small devices (tablets, 768px and up) */
@media only screen and (max-width: 768px) {
	#home-slider{
		.swiper-slide{
			height: 400px;
			.banner-text{
	  			font-size: 40px;
	  			max-width: 220px;
	  		}
		}	
		.hedline{
			height: 100px;
			h1{
				font-weight: bold;
			}
		}
	}
	
}