@import '../assets/scss/typography';


#sign-in-dialog{
	padding: 24px 100px;
	position: relative;
	.mat-form-field{
		width: 300px;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
	.bg-button{
		margin-top: 60px;
		margin-bottom: 10px;
	}
	.fa-times-circle{
		color: $white;
		position: absolute;
		right: 14px;
		top: 12px;
		font-size: 28px;
		cursor: pointer;
		transition: all .3s;
	}
	.fa-times-circle:hover{
		transform: scale(1.1);
	}
	.error{
		color: red;
		text-align: center;
		margin: 0;
		padding: 0;
		font-size: 18px;
	}
}


/* Small devices (tablets, 768px and up) */
@media only screen and (max-width: 768px) {
	#sign-in-dialog{
		padding: 24px 15px;
	}
}