<header>
	<div class="container">
		<img src="./assets/img/logo.png" alt="Bglobal" class="logo">
		
		<div id="main-menu">
			<a href="" class="main-manu-item" id="sign-in">כניסה למנויים <i class="fa fa-user-o" aria-hidden="true"></i></a>

			<a href="" class="main-manu-item">צור קשר</a>
			<a href="" class="main-manu-item">הפעלת/טעינת כרטיס</a>
			<a href="" class="main-manu-item">שאלות נפוצות</a>
			<a href="" class="main-manu-item">רשימת מדינות נתמכות</a>
			<a href="" class="main-manu-item bold">דף הבית</a>
		</div>
	</div>
</header>
