<header>
	<div class="container">
		<img routerLink="/" src="./assets/img/logo.png" alt="Bglobal" class="logo">

		<!-- mobile sandwich -->
		<div id="sandwich"
		 (click)="clickSendwich()"  
		 [ngClass]="status ? 'active' : '' ">
			<div class="sw sw-topper"></div>
			<div class="sw sw-bottom"></div>
			<div class="sw sw-footer"></div>
		</div>

		<div id="main-menu" 
		 (click)="clickSendwich()" 
		 [ngClass]="status ? 'active' : '' "
		 >
			<div id="sign-in" class="main-manu-item"
			(mouseenter)="openMenu()"
			(mouseleave)="closeMenu()"
			*ngIf="httpService.checkLogin()">
				
				<p routerLink="/user">
					 שלום דימה    <i class="fa fa-user-o" aria-hidden="true"></i>
				</p>

				<!-- User menu -->
				<div id="user-menu" class="{{ userMenuStaus }}">
				  <div class="user-menu-item" 
				  [routerLinkActiveOptions]="{exact: true}" 
				  routerLinkActive="active-link" 
				  routerLink="/user/sim" >כרטיס סים שלי</div>

				  <div class="user-menu-item" 
				  [routerLinkActiveOptions]="{exact: true}" 
				  routerLinkActive="active-link" 
				  routerLink="/user">מצב החבילה עדכני</div>

				  <div class="user-menu-item" 
				  [routerLinkActiveOptions]="{exact: true}" 
				  routerLinkActive="active-link" 
				  routerLink="/user/info">פרטים אישיים</div>

				  <div class="user-menu-item" 
				  [routerLinkActiveOptions]="{exact: true}" 
				  routerLinkActive="active-link" 
				  routerLink="/">יציאה</div>

				  <!-- <div class="user-menu-item" 
				  (click)="openDialogLogIn()"> sign in dialog </div> -->
				</div>

			</div>
			<p [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active-link" routerLink="/"  class="main-manu-item">דף הבית  </p>
			<p [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active-link" routerLink="/available-countries"  class="main-manu-item">רשימת מדינות נתמכות  </p>
			<p [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active-link" routerLink="/faq"  class="main-manu-item">שאלות נפוצות  </p>
			<p [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active-link" routerLink="/thank-you"  class="main-manu-item"
			*ngIf="httpService.checkLogin()">הפעלת/טעינת כרטיס  </p>
			<p [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active-link" routerLink="/contact-us"  class="main-manu-item">צור קשר  </p>
			
			<p (click)="openDialogLogIn()" class="main-manu-item"
			*ngIf="!httpService.checkLogin()">התחברות לחשבון פרטי  </p>
			
			
		</div>
	</div>
</header>
