@import '../assets/scss/typography';


header{
	height: 180px;
	background: $white;
	position: relative;
	z-index: 5;
	box-shadow: 0px 6px 11.52px 0.48px rgba(0, 0, 0, 0.25);
	.logo{
		display: inline;
		width: max-content;
		max-width: 300px;
		position: absolute;
	}
	.container{
		display: flex;
	    flex-direction: column;
	    justify-content: center;
	    height: 100%;
	    position: relative;
	    width: 1700px;
	}
}

// Header menu
#main-menu{
	width: max-content;
    display: inline-block;
    margin-left: auto;
    padding-left: 300px;
    max-width: 100%;
    text-align: right;
    
	.main-manu-item{
		display: inline-block;
		font-size: 26px;
		margin-left: 20px;
	}
	.bold{
		font-weight: 600;
	}
	#sign-in{
		color: $purple;
		i{
			color: $white;
			background: $red;
			border-radius: 50%;
			font-size: 20px;
			padding: 5px;
			width: 33px;
			height: 33px;
			line-height: 1;
			text-align: center;
		}
	}
}
