@import '../assets/scss/typography';


header{
	height: 90px;
	background: $white;
	position: relative;
	z-index: 5;
	box-shadow: 0px 6px 11.52px 0.48px rgba(0, 0, 0, 0.25);
	.logo{
		display: inline;
		width: max-content;
		max-width: 220px;
		position: absolute;
		cursor: pointer;
	}
	.container{
		display: flex;
	    flex-direction: column;
	    justify-content: center;
	    height: 100%;
	    position: relative;
	    width: 90%;
	}
	
}

// Header menu
#main-menu{
	width: max-content;
    display: inline-block;
    margin-left: auto;
    padding-left: 300px;
    max-width: 100%;
    text-align: right;
	.main-manu-item{
		display: inline-block;
		font-size: 18px;
		margin-left: 16px;
	}
	
	#sign-in{
		color: $purple;
		padding-right: 20px;
		font-family: 'Open Sans Hebrew', sans-serif;
		i{
			color: $white;
			background: $red;
			border-radius: 50%;
			font-size: 20px;
			padding: 5px;
			width: 33px;
			height: 33px;
			line-height: 1;
			text-align: center;
		}
	}
}

.active-link{
	font-weight: 600;
}

// sabdwich
#sandwich {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0;
	bottom: 0;
	// left: 0;
	right: 0;
	margin: auto;
	cursor: pointer;
	display: none;
	.sw{
		background-color: $purple;
	}
	.sw-topper {
		position: relative;
		top: 0;
		width: 50px;
		height: 5px;
		border: none;
		border-radius: 4px 4px 4px 4px;
		transition: transform 0.5s, top 0.2s;
	}
	.sw-bottom {
		position: relative;
		width: 50px;
		height: 5px;
		top: 10px;
		border: none;
		border-radius: 4px 4px 4px 4px;
		transition: transform 0.5s, top 0.2s;
		transition-delay: 0.2s, 0s;
	}
	.sw-footer {
		position: relative;
		width: 50px;
		height: 5px;
		top: 20px;
		border: none;
		border-radius: 4px 4px 4px 4px;
		transition: all 0.5s;
		transition-delay: 0.1s;
	}
	&.active .sw-topper {
		top: 7.5px;
		transform: rotate(140deg);
	}
	&.active .sw-bottom {
		top: 2.5px;
		transform: rotate(-140deg);
	}
	&.active .sw-footer {
		opacity: 0;
		top: 0;
		transform: rotate(180deg);
	}
}




@media only screen and (max-width: 1320px) {
	header{
		.container{
			width: 100%;
		}
	}
}

/* Large devices (large desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
	#sandwich{
		display: block;
		z-index: 15;
		line-height: 57px;
		padding: 7px;
		padding-right: 20px;
		width: 75px;
	    transform: scale(.6);
	}

	header{
		position: fixed;
		width: 100%;
		.logo{
			float: right;
			z-index: 10;
			max-width: 150px;
		}
		.container{
			width: 100%;
			position: static;
		}
	}
	// Header menu
	#main-menu{
		width: 100%;
	    overflow: hidden;
	    background-color: $white;
	    padding-left: 0;
	    position: absolute;
	    z-index: -1;
	    left: 0;
	    right: 0;
	    top: 0;
	    padding: 15px 20px;
	    padding-top: 80px;
	    transition: all 1.4s;
	    max-height: 0px;
	    &.active{
	    	max-height: 1000px;
	    	z-index: 5;
	    }
		.main-manu-item{
			display: block;
			font-size: 18px;
			margin-left: auto;
			margin-top: 20px;
			margin-right: 0;
			padding: 0;
		}
		#sign-in{
			display: none;
			color: $purple;
			padding-right: 0;
			margin-right: 0;
			i{
				font-size: 20px;
				padding: 5px;
				width: 33px;
				height: 33px;
				line-height: 1;
			}
		}
	}

}

/* Medium devices (desktops, 992px and up) */
@media only screen and (max-width: 992px) {
	

}

/* Small devices (tablets, 768px and up) */
@media only screen and (max-width: 768px) {
	
	
}