@import '../assets/scss/typography';

footer{
	height: 380px;
	display: flex;
    flex-direction: column;
    justify-content: center;
	
	img.logo{
		max-width: 200px;
		display: block;
		margin: 0 auto;
		margin-bottom: 30px;
	}
	.terms{
		color: $black; 
  		font-size: 18px;
		text-align: center;
		font-weight: normal;
		display: block;
		width: 100%;
	    line-height: 1;
	    span{
	    	padding: 0 42px;
	    	cursor: pointer;
	    }
	}
	hr{
		max-width: 100%;
		width: 1200px;
		margin: 20px auto;
		display: block;
		border-color: $red;
	}
	.footer-info{
		text-align: center;
		color: $black;
  		font-size: 16px;
  		font-weight: normal;
	}
}


/* Small devices (tablets, 768px and up) */
@media only screen and (max-width: 768px) {
	footer{
		.terms{
			span{
				padding: 0 15px;
			}
		}
	}
}