@import '../assets/scss/typography';

footer{
	height: 486px;
	display: flex;
    flex-direction: column;
    justify-content: center;
	
	.logo{
		max-width: 210px;
		display: block;
		margin: 0 auto;
		margin-bottom: 30px;
	}
	.terms{
		color: $black; 
  		font-size: 26px;
		text-align: center;
		display: block;
		width: 100%;
	    line-height: 1;
	    span{
	    	padding: 0 42px;
	    	cursor: pointer;
	    }
	}
	hr{
		max-width: 100%;
		width: 1200px;
		margin: 20px auto;
		display: block;
		border-color: $red;
	}
	.footer-info{
		text-align: center;
		color: $black;
  		font-size: 20px;
	}
}