<footer>
	<div class="container">
		<img src="./assets/img/logo.png" alt="Bglobal" class="logo">

		<div href="#" class="terms">
			<span routerLink="/about-us">מי אנחנו  </span>
			<span routerLink="/about-us">תקנון  </span>
			<span routerLink="/about-us">תנאי שימוש  </span>      
		</div>
		<hr>
		<div class="footer-info"> טלפון: <a href="tel:03-372-3030">03-372-3030</a> | פקס: <a href="tel:09-746-2271">09-746-2271</a> | רח׳ הפנינה 8, מגדל ב', קומה 3, רעננה 4321545 ישראל</div>
	</div>
</footer>