// Colors
$mainBackground: #f1f1f1;
$white: #fff;
$black: #000;
$gray: rgb(117, 117, 117);
$grayDark: rgb(64, 64, 64);
$grayLight: rgb(149, 149, 149);
$purple: rgb(115, 48, 113);
$purple-light: rgba(119, 38, 112, 0.902);
$purpleDark: rgb(74, 48, 130);
$red: #9d205e;
$green: #019b94;
$orange: #fcb30e;

@mixin gradient-background(){
    background: linear-gradient(to right, #512e7f 0%, #a5196a 80%, #a5196a 100%);
}




// headlines
h1, h2, h3, h4, h5, h6{
	margin: 10px 0;
}
h1{
	font-size: 50px;
}
h2{
	font-size: 30px;
}
h3{
	font-size: 26px;
}

label{
	font-weight: 400;
}

// hedline-box
.hedline{
	text-align: center;
	box-shadow: 0px 6px 11.52px 0.48px rgba(0, 0, 0, 0.25);
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 170px;
}


// links
a{
	color: #000;
}
a:hover{
	text-decoration: none;
}



// swiper slider
swiper>.swiper.s-wrapper .swiper-pagination .swiper-pagination-handle{
    margin: 8px;
}
.swiper-pagination-handle .swiper-pagination-bullet{
	width: 15px;
	height: 15px;
	opacity: 1;
	border: 2px solid $white !important;
	background: $white;
}
.swiper-pagination-handle .swiper-pagination-bullet-active{
	background: transparent;
	border: 2px solid $white !important;
	margin: 0 !important;
}


input:-webkit-autofill {
    -webkit-text-fill-color: #000 !important;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}
// material inputs
.mat-input-wrapper,
.bg-button{
	border-radius: 12px;
	margin-bottom: 24px;
	font-size: 26px;
	height: 70px;
}
.mat-form-field{
	max-width: 100%;
	width: 100%;
}
.mat-input-wrapper{
	background: $white;
	color: $gray;
	text-align: right;
	padding-right: 30px;
}
.mat-select-value{
	padding-right: 24px;
}
.mat-form-field-infix{
	border: 0;
	height: 70px;
	line-height: 1.7;
	padding-right: 10px;
}
.mat-form-field-underline{
	display: none;
}
.mat-select-panel .mat-optgroup-label, .mat-select-panel .mat-option{
	height: 50px;
}
// labels
.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{
	margin-top: -21px;
    line-height: 3;
	color: $black;
}

// buttons
.bg-button{
	color: $white !important;
	border-radius: 12px;
	width: 100%;
	font-size: 34px;
	height: 70px;
	@include gradient-background();
}
// green button
.bg-button.bg-green-button{
	background: $green;
	max-width: 320px;
	margin: 0 auto;
	display: block;
}
.bg-button.bg-orange-button{
	background: $orange;
	margin: 0 auto;
	margin: 20px auto;
	display: block;
	width: 200px;
}

//  checkbox
.mat-checkbox-inner-container,
.mat-checkbox-frame{
	width: 30px !important;
	height: 30px !important;
	border-radius: 5px !important;
	padding-left: 10px;
}
.mat-checkbox{
	color: $black;
	font-size: 24px !important;
	font-weight: 200 !important;
}
.mat-checkbox-layout{
	width: 100% !important;
}
.mat-checkbox-layout{
}
.mat-checkbox-inner-container{
}
.mat-checkbox-layout .mat-checkbox-label{
    width: 100%;
    text-align: right;
}
// active color
.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background{
	background: $green;
	border-radius: 5px;
}

// md tooltip

.mat-tooltip-panel{
	border-radius: 10px;
	// padding: 30px !important;
}
.mat-tooltip{
	background-color: $green;
	font-size: 12px;
	border-radius: 10px;
	padding: 10px 20px !important;
	font-weight: 200;
	max-width: 310px !important;
}
@media screen and (-ms-high-contrast:active){
	.mat-tooltip{outline:solid 0px}
}
.mat-tooltip-handset{
	margin:24px;
	padding-left:16px;
	padding-right:16px;
}








@media only screen and (max-width: 1600px) {
	#page-banner{
		.banner-content{
			.banner-text{
	  			font-size: 80px;
	  			max-width: 400px;
	  		}
		}	
	}

}


/* Large devices (large desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
	// / headlines
	h1{
		font-size: 40px;
	}
	h2{
		font-size: 30px;
	}
	h3{
		font-size: 26px;
	}

}

/* Medium devices (desktops, 992px and up) */
@media only screen and (max-width: 992px) {


}

/* Small devices (tablets, 768px and up) */
@media only screen and (max-width: 768px) {
	// / headlines
	h1{
		font-size: 30px;
	}
	h2{
		font-size: 30px;
	}
	h3{
		font-size: 26px;
	}
	
	// md input
	.mat-input-wrapper,
	.mat-form-field-infix{
		height: 60px;
		line-height: 1;
	}
	// buttons
	.bg-button{
		height: 60px;
	}

}