// Colors
$mainBackground: #f1f1f1;
$white: #fff;
$black: #000;
$gray: rgb(117, 117, 117);
$grayDark: rgb(64, 64, 64);
$purple: rgb(115, 48, 113);
$purple-light: rgba(119, 38, 112, 0.902);
$purpleDark: rgb(74, 48, 130);
$red: #9d205e;
$green: #019b94;

// headlines
h1, h2, h3, h4, h5, h6{
	margin: 10px 0;
}
h1{
	font-size: 50px;
}
h2{
	font-size: 30px;
}
h3{
	font-size: 26px;
}


// hedline-box
.hedline{
	text-align: center;
	box-shadow: 0px 6px 11.52px 0.48px rgba(0, 0, 0, 0.25);
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 170px;
}


// links
a{
	color: #000;
}
a:hover{
	text-decoration: none;
}

// swiper slider
swiper>.swiper.s-wrapper .swiper-pagination .swiper-pagination-handle{
    margin: 8px;
}
.swiper-pagination-handle .swiper-pagination-bullet{
	width: 15px;
	height: 15px;
	opacity: 1;
	border: 2px solid $white !important;
	background: $white;
}
.swiper-pagination-handle .swiper-pagination-bullet-active{
	background: transparent;
	border: 2px solid $white !important;
	margin: 0 !important;
}


input:-webkit-autofill {
    -webkit-text-fill-color: #000 !important;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}
// material inputs
.mat-input-wrapper,
.bg-button{
	border-radius: 12px;
	margin-bottom: 18px;
	font-size: 26px;
	height: 70px;

}


.mat-input-wrapper{
	background: $white;
	color: $gray;
	padding-right: 30px;
}
.mat-select-value{
	padding-right: 24px;
}
.mat-form-field-infix{
	border: 0;
	height: 70px;
	line-height: 1.7;
	padding-right: 10px;
}
.mat-form-field-underline{
	display: none;
}
.mat-select-panel .mat-optgroup-label, .mat-select-panel .mat-option{
	height: 50px;
}

// buttons
.bg-button{
	color: $white;
	width: 100%;
	height: 70px;
	background: linear-gradient(to right, #512e7f 0%, #a5196a 80%, #a5196a 100%);
}


.mat-form-field-label-wrapper{
	// display: none;
}

//
.mat-form-field-label{
	// display: none !important;
}  
.mat-input-placeholder{

}

.mat-input-placeholder-wrapper{
	// display: none;

}
.mat-form-field-placeholder-wrapper{


}