@import '../assets/scss/typography.scss';

#delivery{
	h1{
		text-align: center;
		margin-top: 20px;
		color: $purpleDark;
		margin-bottom: 20px;
	}
	h3{
		text-align: center;
		color: $grayDark;
		margin-bottom: 30px;
	}
	.bg-purple{
		background: $purpleDark;
	}
	.radio-fields{
		padding-top: 0;
		font-size: 18px;
		text-align: right;
		color: $black;
		user-select: none;
		.name{
			color: $blue;
		}
		.desc{
			color: $grayDark;
			span{
				float: left;
				margin-right: 8px;
				direction: rtl;
			}
		}
		.mat-radio-button{
			width: 100%;
		}
	}

	.bg-button{
		margin-top: 72px;
	}
	
	.checked-wrapper1{
		font-size: 18px;
		margin-top: 14px;
		float: right;
		margin-bottom: 14px;
		text-align: right;
		width: max-content;
		padding-left: 50px;
		position: relative;
		z-index: 1;
	}
	.checked-wrapper2{
		position: absolute;
		font-size: 18px;
		z-index: 1;
	    bottom: 66px;
	    width: max-content;
		right: 0;
	    padding-left: 50px;
		.mat-checkbox-label{
			color: $white;
			font-size: 18px;
			line-height: 2.413;
		}
	}
	.form-info{
		display: inline-block;
		color: $white;
		background: $green;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		text-align: center;
    	font-size: 22px;
    	left: 15px;
    	margin-top: 6px;
    	cursor: pointer;
		position: relative;
		z-index: 9;
		float: left;
		margin-right: 26px;
		margin-top: -3px;
	}
	.error-log{
	    direction: rtl;
	    font-weight: 400;
	    font-size: 18px;
	    color: $purpleDark;
	    white-space: pre-line;
	}
}



/* Small devices (tablets, 768px and up) */
@media only screen and (max-width: 768px) {
	#delivery{
		padding-top: 60px;
		.checked-wrapper{
			position: static;
			width: 100%;
			text-align: right;
		}
		.checked-wrapper2{
    		bottom: 58px;
		}
		.bg-button{
			margin-top: 44px;
		}
		.radio-fields{
			.mat-radio-button{
				margin-bottom: 8px;
			}
		}
	}

}