<section id="delivery" [@toggleOpacity]="isShowCurrent">
	<div class="container">
		<h1>כתובת למשלוח  </h1>
		<h3>אנא בחרו היכן תרצו לאסוף את כרטיס הסים  </h3>
		<form #deliveryForm="ngForm" (ngSubmit)="onSubmit(deliveryForm)">
			<div class="row">

				<mat-radio-group name="choice" [ngModel]="22" required>
					<div class="col-sm-12 checked-wrapper1">
						<mat-radio-button [checked]="deliveryForm.value.choice == 'checked1'"
						labelPosition="before" 
						[value]="[deliveryId]">משלוח ups לנקודת איסוף
						</mat-radio-button>

						<span class="form-info" 
						matTooltip="{{checked1TooltipContent}}" 
						matTooltipPosition="above" 
						tooltip="matTooltip" 
						matTooltipShowDelay="100"
						#checked1Tooltip="matTooltip"
						(click)="checked1Tooltip.show()"
						(mouseover)="checked1Tooltip.show()"
						>?</span>
					</div>

					<div class="col-sm-12 checked-wrapper2">
						<mat-radio-button  
						labelPosition="before" 
						[value]="19">א  יסוף עצמי- הפנינה 2 רעננה  
						</mat-radio-button>
						<span class="form-info" 
						(click)="checked2Tooltip.show()"
						(mouseover)="checked2Tooltip.show()"
						matTooltip="{{checked2TooltipContent}}" 
						matTooltipPosition="above" 
						tooltip="matTooltip" 
						matTooltipShowDelay="100"
						#checked2Tooltip="matTooltip"
						>?</span>
					</div>
				</mat-radio-group>

				<div class="col-sm-12 float-right-sm" *ngIf="!deliveryForm.value.choice != deliveryId">

					<mat-form-field *ngIf="!deliveryForm.value.choice != deliveryId">
						<input matInput
						ngx-google-places-autocomplete 
						[options]='options'
	 					#placesRef="ngx-places" 
	 					(onAddressChange)="handleAddressChange($event)"
						placeholder="כתובת מגורים   :" 
						required
						[disabled]="deliveryForm.value.choice != deliveryId"
						name="search" ngModel />
					</mat-form-field>

					<div class="error-log">{{ errorLocality }}</div>

					<div class="row radio-fields" *ngIf="!deliveryForm.value.choice != deliveryId">
						<mat-radio-group name="address" ngModel 
						required 
						*ngIf="deliveryForm.value.search && addresses && errorLocality == ''">
							<!-- <div class="col-sm-6"
							*ngFor="let adress of addresses;let i = index;">
								<mat-radio-button 
								 labelPosition="before"
								 value="{{ adress.CityName + adress.Description }}">
									<div class="name">{{ adress.PointName }} i: {{i}}</div>
									<div class="desc">{{ adress.StreetName +' '+ 
									adress.HouseNumber +', '+
									adress.CityName }} 
									<span>( {{adress.Distance}} ק''מ  ) </span> </div>
								</mat-radio-button>
							</div> -->
							<div class="col-sm-6 float-right-sm">
								<mat-radio-button *ngIf="addresses[0]"
								 labelPosition="before"
								 value="{{ addresses[0].CityName + addresses[0].Description }}">
									<div class="name">{{ addresses[0].PointName }}</div>
									<div class="desc">{{ addresses[0].StreetName +' '+ 
									addresses[0].HouseNumber +', '+
									addresses[0].CityName }} 
									<span>( {{addresses[0].Distance}} ק''מ  ) </span> </div>
								</mat-radio-button>

								<mat-radio-button *ngIf="addresses[1]"
								 labelPosition="before"
								 value="{{ addresses[1].CityName + addresses[1].Description }}">
									<div class="name">{{ addresses[1].PointName }}</div>
									<div class="desc">{{ addresses[1].StreetName +' '+ 
									addresses[1].HouseNumber +', '+
									addresses[1].CityName }} 
									<span>( {{addresses[1].Distance}} ק''מ  ) </span> </div>
								</mat-radio-button>

								<mat-radio-button *ngIf="addresses[2]"
								 labelPosition="before"
								 value="{{ addresses[2].CityName + addresses[2].Description }}">
									<div class="name">{{ addresses[2].PointName }}</div>
									<div class="desc">{{ addresses[2].StreetName +' '+ 
									addresses[2].HouseNumber +', '+
									addresses[2].CityName }} 
									<span>( {{addresses[2].Distance}} ק''מ  ) </span> </div>
								</mat-radio-button>
							</div>
							<div class="col-sm-6">
								<mat-radio-button *ngIf="addresses[3]"
								 labelPosition="before"
								 value="{{ addresses[3].CityName + addresses[3].Description }}">
									<div class="name">{{ addresses[3].PointName }}</div>
									<div class="desc">{{ addresses[3].StreetName +' '+ 
									addresses[3].HouseNumber +', '+
									addresses[3].CityName }} 
									<span>( {{addresses[3].Distance}} ק''מ  ) </span> </div>
								</mat-radio-button>
								<mat-radio-button *ngIf="addresses[4]"
								 labelPosition="before"
								 value="{{ addresses[4].CityName + addresses[4].Description }}">
									<div class="name">{{ addresses[4].PointName }}</div>
									<div class="desc">{{ addresses[4].StreetName +' '+ 
									addresses[4].HouseNumber +', '+
									addresses[4].CityName }} 
									<span>( {{addresses[4].Distance}} ק''מ  ) </span> </div>
								</mat-radio-button>
								<mat-radio-button *ngIf="addresses[5]"
								 labelPosition="before"
								 value="{{ addresses[5].CityName + addresses[5].Description }}">
									<div class="name">{{ addresses[5].PointName }}</div>
									<div class="desc">{{ addresses[5].StreetName +' '+ 
									addresses[5].HouseNumber +', '+
									addresses[5].CityName }} 
									<span>( {{addresses[5].Distance}} ק''מ  ) </span> </div>
								</mat-radio-button>
							</div>
							
						</mat-radio-group>
					</div>

					<div class="error-log" *ngIf="!emptyAddresses"> אין כתובות זמינות  </div>
					<!-- <div class="error-log" 
					*ngIf="emptyAddresses && closestPickUpPoints.Building == 'empty'">дистанция может быть ошибочной</div> -->

				</div>
			</div>
			<!-- <pre>{{ addresses | json }}</pre> -->
			
			<div class="row">
				<div class="col-sm-12">
					<button mat-button class="bg-button bg-green-button" 
					[disabled]="!deliveryForm.valid"
					(click)="scrollAnimate(appTotal)"
					(click)="isShow='show'">המשך  </button>
				</div>
			</div>
		</form>
	</div>
</section>

<!-- <pre>{{ deliveryForm.value | json }}</pre> -->
<!-- <pre>{{ deliveryForm.valid | json }}</pre> -->

<div [@toggleOpacity]="isShow" #appTotal>
	<app-total
		[deliveryRequest]="deliveryRequest"
		[deliveryPrice]="deliveryPrice">
	</app-total>
</div>