<section id="delivery">
	<div class="container">
		<h1>כתובת למשלוח  </h1>
		<h3>אנא בחרו היכן תרצו לאסוף את כרטיס הסים  </h3>
		<form #deliveryForm="ngForm" (ngSubmit)="onSubmit(deliveryForm)">
			<div class="row">
				

				<mat-radio-group name="choice" ngModel required>
					<div class="col-sm-12 checked-wrapper1">
						<mat-radio-button [checked]="deliveryForm.value.choice == 'checked1'"
						labelPosition="before" 
						[value]="false">משלוח ups לנקודת איסוף
						</mat-radio-button>

						<span class="form-info" 
						matTooltip="{{checked1TooltipContent}}" 
						matTooltipPosition="above" 
						tooltip="matTooltip" 
						matTooltipShowDelay="100"
						#checked1Tooltip="matTooltip"
						(click)="checked1Tooltip.show()"
						(mouseover)="checked1Tooltip.show()"
						>?</span>
					</div>

					<div class="col-sm-12 checked-wrapper2">
						<mat-radio-button  
						labelPosition="before" 
						[value]="true">א  יסוף עצמי- הפנינה 2 רעננה  
						</mat-radio-button>
						<span class="form-info" 
						(click)="checked2Tooltip.show()"
						(mouseover)="checked2Tooltip.show()"
						matTooltip="{{checked2TooltipContent}}" 
						matTooltipPosition="above" 
						tooltip="matTooltip" 
						matTooltipShowDelay="100"
						#checked2Tooltip="matTooltip"
						>?</span>
					</div>
				</mat-radio-group>

				<div class="col-sm-12 float-right-sm" *ngIf="!deliveryForm.value.choice">
					<mat-form-field *ngIf="!deliveryForm.value.choice">
						<input matInput placeholder="כתובת מגורים   :" 
						required
						[disabled]="deliveryForm.value.choice == true"
						name="search" ngModel />
					</mat-form-field>

					<div class="row radio-fields" *ngIf="!deliveryForm.value.checked">
						<mat-radio-group name="address" ngModel 
						required
						*ngIf="deliveryForm.value.search">
							<div class="col-sm-6"
							*ngFor="let adress of addresses | 
							searchAddress:deliveryForm.value.search | 
							slice:0:6 ">
								<mat-radio-button 
								 labelPosition="before"
								 value="{{ adress }}">
									{{ adress }}
								</mat-radio-button>
							</div>
						</mat-radio-group>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-12">
					<button mat-button class="bg-button bg-green-button" 
					[disabled]="!deliveryForm.valid"
					(click)="scrollAnimate(appTotal)"
					(click)="isShow='show'">המשך  </button>
				</div>
			</div>
		</form>
	</div>
</section>

<!-- <pre>{{ deliveryForm.value | json }}</pre> -->

<div [@toggleHeight]="isShow" #appTotal>
	<app-total
		[deliveryFormData]="deliveryForm.value">
	</app-total>
</div>