@import '../assets/scss/typography.scss';

#delivery{
	h1{
		text-align: center;
		margin-top: 20px;
		color: $purpleDark;
		margin-bottom: 20px;
	}
	h3{
		text-align: center;
		color: $grayDark;
		margin-bottom: 30px;
	}
	.bg-purple{
		background: $purpleDark;
	}
	.radio-fields{
		padding-top: 0;
		padding-bottom: 20px;
		font-size: 18px;
		text-align: right;
		color: $black;
		user-select: none;
	}

	
}

/* Medium devices (desktops, 992px and up) */
@media only screen and (max-width: 992px) {
	
}


/* Small devices (tablets, 768px and up) */
@media only screen and (max-width: 768px) {


}