@import '../assets/scss/typography.scss';

#details-form{
	background: $mainBackground;
	.hedline{
		background: $gradient-background-orange;
		color: $white;
		height: 100px;
	}
	.form{
		padding-top: 30px;
		padding-bottom: 60px;
		button{
			max-width: 720px;
			margin: 0 auto;
			display: block;
		}
	}
	.col-sm-4{
		float: right;
	}

}


/* Small devices (tablets, 768px and up) */
@media only screen and (max-width: 768px) {
	#details-form{
		.col-sm-4{
			float: none;
		}
	}
}