<section id="details-form">

	<div class="hedline">
		<div class="container">
			<h1>רוצים לשמוע עוד  ...</h1>
			<h3>השאירו פרטים ונציגנו יחזרו אליכם בהקדם</h3>
		</div>
	</div>
	
	<div class="container">
		<!-- <pre>{{ userDataLead | json }}</pre> -->
		
		<form #detailsForm="ngForm" (ngSubmit)="onSubmit(detailsForm)" class="form">
			<div class="row">
				<div class="col-sm-4">
					<mat-form-field>
						<input matInput required placeholder="שם מלא" name="name" tabindex="11" 
						ngModel
						 />
					</mat-form-field>
				</div>
				<div class="col-sm-4">
					<mat-form-field>
						<input matInput required placeholder="טלפון" name="tel" tabindex="12" 
						(keypress)="numberTel_keyPress($event)"
						#telInput
						ngModel />
					</mat-form-field>
				</div>
				<div class="col-sm-4">
					<mat-form-field>
						<input matInput name="email" placeholder="דוא״ל" tabindex="13"
						required
						(keydown.Tab)="tabEvent($event)"
						[pattern]="emailPattern"
						ngModel/>
					</mat-form-field>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<button mat-button class="bg-button" tabindex="-1"
					[disabled]="!detailsForm.valid">המשך</button>
				</div>
			</div>
		</form>
	</div>

</section>