// Colors
$mainBackground: #f1f1f1;
$white: #fff;
$black: #000;
$gray: #757575;
$grayDark: rgb(64, 64, 64);
$grayLight: rgb(149, 149, 149);
$purple: rgb(115, 48, 113);
$purple-light: rgba(119, 38, 112, 0.902);
$purpleDark: rgb(74, 48, 130);
$purpleExtraDark: #4b0049;
$red: #9d205e;
$green: #019b94;
$orange: #fcb30e;
$orangeDark: #f04a20;
$blue: #038ed8;

// gradient
$gradient-background-blue-dark: linear-gradient( 37deg, rgb(71,50,132) 0%, rgb(3,142,216) 100%);
$gradient-background-orange: linear-gradient( 37deg, rgb(254,200,10) 0%, rgb(237,43,38) 100%);
$gradient-background-purple: linear-gradient(to right, #512e7f 0%, #a5196a 80%, #a5196a 100%);
$gradient-background-blue: linear-gradient( 37deg, rgb(1,155,148) 0%, rgb(1,120,177) 100%);
$gradient-background-yellow-green: linear-gradient( 146deg, rgb(24,149,152) 0%, rgb(254,209,33) 100% );
$gradient-background-pink: linear-gradient( 37deg, rgb(236,37,44) 0%, rgb(157,32,94) 100% );
$gradient-background-pink: linear-gradient( 37deg, rgb(236,37,44) 0%, rgb(157,32,94) 100% );

@mixin gradient-background-blue(){
    background: linear-gradient( 37deg, rgb(1,155,148) 0%, rgb(1,120,177) 100%);
}
@mixin gradient-background-purple(){
    background: linear-gradient(to right, #512e7f 0%, #a5196a 80%, #a5196a 100%);
}
@mixin gradient-background-purple-inverse(){
    background: linear-gradient(186deg, transparent 67%, #731f5f 50%), linear-gradient(150deg, #982167 0%, #8b256c 75%, #8b256c 100%);
}
.gradient-background{
	background: $gradient-background-purple;
	.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{
		color: $white;
	}
}
.gray-background{
	background: $mainBackground;
}

// ::ng-deep .cdk-overlay-container {
//     /* Do you changes here */
//     position: fixed; 
//     z-index: 10;
//     width: 0;
//     height: 0;
// }

// headlines
h1, h2, h3, h4, h5, h6{
	margin: 10px 0;
	direction: rtl;
}
h1{
	font-size: 26px;
	font-weight: 900;
}
h2{
	font-size: 20px;
}
h3{
	font-size: 18px;
}

label{
	font-weight: 400;
}

// hedline-box
.hedline{
	text-align: center;
	box-shadow: 0px 6px 11.52px 0.48px rgba(0, 0, 0, 0.25);
	display: flex;
	flex-direction: column;
	justify-content: center;
    min-height: max-content;
	h1{
		font-weight: 900;
	}
}

p{
	outline: none;
}
// links
a{
	color: #000;
}
a:hover{
	text-decoration: none;
}

.float-right-md,
.float-right-sm{
	float: right;
}

//  mat-progress-bar
.mat-progress-bar{
    height: 24px;
    border-radius: 10px;
    .mat-progress-bar-buffer{
		background: $white;
    }
}
 .green .mat-progress-bar-fill::after{
	background: $green;
}
.orange .mat-progress-bar-fill::after{
	background: $orange;
}
.red .mat-progress-bar-fill::after{
	background: $red;
}

//  mat dialog
.mat-dialog-container{
	overflow-x: hidden !important;
	color: $white;
	padding: 0 !important;
	border-radius: 12px !important;
	box-shadow: 0px 5px 6.44px 0.56px rgba(0, 0, 0, 0.24),
		0px 3px 7.68px 0.32px rgba(0, 0, 0, 0.16) !important;
	h1{
		text-align: center;
	}
	hr{
		width: 340px;
		max-width: 100%;
		height: 2px;
		display: block;
		margin: 20px auto 60px;
		border: none;
		background: $white;
	}
	p{
		text-align: center;
		font-size: 16px;
	}
}
// background dialog
.cdk-overlay-dark-backdrop{
	background-color: rgba($white, .9);
	cursor: pointer;
}

// swiper slider
swiper>.swiper.s-wrapper .swiper-pagination .swiper-pagination-handle{
    margin: 8px;
}
.swiper-pagination-handle .swiper-pagination-bullet{
	width: 15px;
	height: 15px;
	opacity: 1;
	border: 2px solid $white !important;
	background: $white;
}
.swiper-pagination-handle .swiper-pagination-bullet-active{
	background: transparent;
	border: 2px solid $white !important;
	margin: 0 !important;
}


input:-webkit-autofill {
    -webkit-text-fill-color: #000 !important;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

// mat menu
.cdk-overlay-pane{
	// width: 100%;
}
.mat-menu-panel{
    width: 200px;
    margin-top: 38px;
    margin-left: -30px;
}
.mat-elevation-z2{
	box-shadow: none !important;
}
.mat-button{
    font-family: 'Open Sans Hebrew', sans-serif;
	font-weight: 600;
	font-size: 18px;
	height: 50px;
}
.mat-button-wrapper{
	pointer-events: none;
}
.mat-button-focus-overlay{
	background-color: transparent !important;
}
.mat-menu-panel button{
	text-align: right;
	font-size: 18px;
    height: 30px;
    line-height: 1;
    padding: 0 20px;
    font-family: 'Open Sans Hebrew', sans-serif;
}
.mat-menu-content{
	padding: 10px 0 !important;
}


// material inputs
.mat-input-wrapper,
.bg-button{
	border-radius: 12px;
	margin-bottom: 26px;
	font-weight: 100;
	font-size: 18px;
	height: 50px;
    font-weight: 600;
}
.mat-input-container{
    // direction: rtl;
}
.textarea .mat-input-wrapper{
	height: initial !important;
    padding-bottom: 3px;
    textarea{
	    // line-height: 1.1;
    	min-height: 104px;
    }
}
.mat-form-field-infix{
	border: 0;
	height: 50px;
	line-height: 1.8;
	padding-right: 10px;
}
.mat-datepicker-toggle{
    display: block;
    float: left;
    padding-left: 50px;
    padding-top: 12px;
    width: 100%;
    .mat-icon-button{
    	width: max-content;
    	float: left;
    	.mat-button-wrapper{
    		float: left;
    	}
    }
}
.mat-form-field{
	max-width: 100%;
	width: 100%;
	direction: rtl;
}
.mat-input-wrapper{
	background: $white;
	color: $gray;
	text-align: right;
	padding-right: 30px;
}

.mat-form-field-suffix{
	position: absolute;
    border-radius: 0;
    width: 100%;
    height: 100%;
}
.mat-form-field-infix{
}

.mat-datepicker-content{
	padding: 20px;
}
.mat-datepicker-toggle .mat-icon-button{
    width: 100%;
    height: 100%;
    text-align: right;
    padding-right: 10px;
}
.mat-option-text{
	text-align: right;
}
.mat-select-value{
	// padding-right: 24px;
}
.mat-select-arrow-wrapper{
    position: relative;
    right: -12px;
}
.mat-primary .mat-option.mat-selected:not(.mat-option-disabled){
	color: $purple;
}
.mat-form-field-underline{
	left: 0;
	bottom: 0;
	opacity: 0;
}
.mat-select-panel{
    margin-right: -57px;

}
.mat-form-field-type-mat-select{
	.mat-input-wrapper{
		padding-right: 4px;
	}
}

.mat-select-panel .mat-optgroup-label, .mat-select-panel .mat-option{
	height: 50px;
}
// labels
.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{
	margin-top: -8px;
    line-height: 2;
	color: $black;
}

// buttons
.bg-button{
	color: $white !important;
	border-radius: 12px;
	width: 100%;
	height: 50px;
	background: $gradient-background-purple;
}
// green button
.bg-button.bg-green-button{
	background: $green;
	max-width: 260px;
	margin: 0 auto;
	border-radius: 12px;
	display: block;
}
.bg-button.bg-orange-button{
	background: $orange;
	margin: 0 auto;
	margin: 20px auto;
	display: block;
	width: 180px;
}
.bg-button.bg-red-button{
	background: $red;
}

//  checkbox
.mat-checkbox-inner-container,
.mat-checkbox-frame{
	width: 20px !important;
	height: 20px !important;
	border-radius: 5px !important;
	padding-left: 10px;
}
.mat-checkbox{
	color: $black;
	font-size: 20px !important;
	font-weight: 200 !important;
}
.mat-checkbox-layout{
	width: 100% !important;
}
.mat-checkbox-layout{
}
.mat-checkbox-inner-container{
}
.mat-checkbox-layout .mat-checkbox-label{
    width: 100%;
    text-align: right;
    white-space: pre-line;
}

// active color radio buttons
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
	border-color: $green;
}
.mat-radio-button.mat-accent .mat-radio-inner-circle{
	background: $green;
}

// active color checkbox
.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background{
	background: $green;
	border-radius: 5px;
}

// mat hint
.mat-form-field-hint-wrapper{
	margin-top: 20px;
	padding-left: 30px;
}

// mat tab
.mat-tab-labels{
	text-align: center;
	display: inherit !important;
	margin-bottom: 30px;
    width: max-content;
    margin: 0 auto;
	.mat-tab-label .mat-tab-label-content{
		font-family: 'Open Sans Hebrew', sans-serif;
		font-size: 16px;
		color: $black;
		opacity: 1;
		font-weight: 500;
	}
	.mat-tab-label{
		float: right;
	}
}
// active
.mat-tab-header{
	border: none;
	.mat-tab-label-active{
		.mat-tab-label-content{
			color: $green !important;
			font-weight: 900;
		}
	}
}
.mat-ink-bar{
	display: none !important;
	background: none;
}

// calendar content
.mat-calendar-controls{
	height: 30px;
}
.mat-calendar-previous-button{
	position: absolute !important;
	left: 0 !important;
}
.mat-calendar-next-button {
	position: absolute !important;
	left: 30px !important;
}
.mat-calendar-period-button {
    position: absolute !important;
    right: 0 !important;
    margin-top: -5px !important;
}

//  mat acordion
.mat-expansion-panel-spacing{
	margin: 0;
}
div.mat-expansion-panel-content:not(.mat-expanded) {
    height: max-content !important;
    visibility: hidden !important;
    .mat-expansion-panel-body{
    	height: 0px;
    }
}
div.mat-expansion-panel-content.mat-expanded{
	.mat-expansion-panel-body{
    	padding-bottom: 16px !important;
    }
}
.mat-expansion-panel-header{
    height: 48px;
}
.mat-expansion-panel-body{
	padding-right: 44px !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
.mat-expansion-panel-body,
.mat-content{
    direction: rtl;
	font-weight: 500;
	font-size: 16px;
    font-family: 'Open Sans Hebrew', sans-serif;
}
.mat-expansion-indicator{
    position: relative;
    right: -10px;
    width: 20px;
    height: 20px;
    background: #9e1a6b;
    border-radius: 50%;
    text-align: center;
    line-height: 16px;
}
.mat-expansion-indicator::after{
    color: $white;
}

// mat tooltip
.mat-tooltip-panel{
	border-radius: 10px;
	// padding: 30px !important;
}
.mat-tooltip{
	background-color: $green;
	font-size: 12px;
	border-radius: 10px;
	padding: 10px 20px !important;
	font-weight: 200;
	max-width: 310px !important;
}
@media screen and (-ms-high-contrast:active){
	.mat-tooltip{outline:solid 0px}
}
.mat-tooltip-handset{
	margin: 24px;
	padding-left: 16px;
	padding-right: 16px;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.example-right-align {
  text-align: right;
}

// close calendar
.mat-calendar-header{
	position: relative;
}
// .mat-calendar-body-today
.calendar-close-controls{
	content: 'x';
	width: 30px;
	height: 30px;
	border-radius: 50%;
	text-align: center;
	line-height: 25px;
	background: $purple;
	color: $white;
    position: absolute;
    float: right;
    right: 0;
    top: 13px;
    font-size: 20px;
    font-family: cursive;
	cursor: pointer;
	transform: rotate(-3deg);
}

// arrow disables
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}
input{
  -moz-appearance: textfield;
}

// input sidable
button{
	transition: opacity 1s;
}
button:disabled{
	opacity: .5;
}



/* Large devices (large desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {

}

/* Medium devices (desktops, 992px and up) */
@media only screen and (max-width: 992px) {
	.float-right-md{
		float: none;
	}

}

/* Small devices (tablets, 768px and up) */
@media only screen and (max-width: 768px) {
	.float-right-sm{
		float: none;
	}
	// mat dialog
	.cdk-overlay-pane{
		max-width: 90% !important;
	}
	// md input
	.mat-input-wrapper,
	.mat-form-field-infix{
	}
	// buttons
	.bg-button{
	}

}
