<section id="usage-log">
	<div class="container">
		<h1>יומן שימוש יומי  </h1>
		<h3>מה נפח הגלישה שהשתמשת בכל יום  </h3>

		<table class="table">
			<thead>
				<tr>
					<td> סה״כ נפח גלישה   </td>
					<td> מדינה  </td>
					<td> תאריך  </td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>200MB</td>
					<td><img src="./assets/img/USA-flag.png" alt="USA flag">אנגליה	</td>
					<td>12.04.2018</td>
				</tr>
				<tr>
					<td>200MB</td>
					<td><img src="./assets/img/USA-flag.png" alt="USA flag">אנגליה	</td>
					<td>12.04.2018</td>
				</tr>
				<tr>
					<td>200MB</td>
					<td><img src="./assets/img/USA-flag.png" alt="USA flag">אנגליה	</td>
					<td>12.04.2018</td>
				</tr>
				<tr>
					<td>200MB</td>
					<td><img src="./assets/img/USA-flag.png" alt="USA flag">אנגליה	</td>
					<td>12.04.2018</td>
				</tr>
				<tr>
					<td>200MB</td>
					<td><img src="./assets/img/USA-flag.png" alt="USA flag">אנגליה	</td>
					<td>12.04.2018</td>
				</tr>
				<tr>
					<td>200MB</td>
					<td><img src="./assets/img/USA-flag.png" alt="USA flag">אנגליה	</td>
					<td>12.04.2018</td>
				</tr>
				<tr>
					<td>200MB</td>
					<td><img src="./assets/img/USA-flag.png" alt="USA flag">אנגליה	</td>
					<td>12.04.2018</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>