<section id="sim-active-form">
	<div class="container">
		
		<h1>מועד הפעלת הכרטיס</h1>

		<form #simAcriveFrom="ngForm" (ngSubmit)="onSubmit(simAcriveFrom)">
			
			<div class="row">
			<div class="row">
				<div class="col-sm-2">
					<b class="days-travel">18 ימי נסיעה</b>
				</div>
				<div class="col-sm-5">
					<mat-form-field>
						<input matInput [matDatepicker]="pickerDateLanding" placeholder="בחרו תאריך נחיתה" name="date-landing" ngModel>
						<mat-datepicker-toggle matSuffix [for]="pickerDateLanding"></mat-datepicker-toggle>
						<mat-datepicker touchUi="true" #pickerDateLanding></mat-datepicker>
					</mat-form-field>
				</div>
				<div class="col-sm-5">
					<mat-form-field>
						<input matInput [matDatepicker]="pickerDateAppearance" placeholder="בחרו תאריך המראה" name="date-appearance" ngModel>
						<mat-datepicker-toggle matSuffix [for]="pickerDateAppearance"></mat-datepicker-toggle>
						<mat-datepicker touchUi="true" #pickerDateAppearance></mat-datepicker>
					</mat-form-field>
				</div>
			</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<button mat-button class="bg-button bg-green-button">המשך</button>
				</div>
			</div>

		</form>

		<!-- <pre>{{ simAcriveFrom.value | json }}</pre> -->

	</div>
</section>
