<section id="sim-active-form">
	<div class="container">
		
		<h1>מועד הפעלת הכרטיס</h1>
		<form #simAcriveFrom="ngForm" (ngSubmit)="onSubmit(simAcriveFrom)">
			<div class="row">
				<div class="col-sm-2">
					<b class="days-travel"
					*ngIf="simAcriveFrom.value.dateLanding && simAcriveFrom.value.dateAppearance; else showInfo">
					{{ daydiff( simAcriveFrom.value.dateAppearance, simAcriveFrom.value.dateLanding) }}
					 ימי נסיעה</b>
					<ng-template #showInfo><b class="days-travel">הזן את התאריך</b></ng-template>
				</div>

				<div class="col-sm-5">
					<mat-form-field>
						<input matInput 
						[min]="simAcriveFrom.value.dateAppearance"
						[matDatepicker]="pickerDateLanding" 
						placeholder="בחרו תאריך נחיתה" name="dateLanding" ngModel>
						<mat-datepicker-toggle matSuffix [for]="pickerDateLanding"></mat-datepicker-toggle>
						<mat-datepicker touchUi="true" #pickerDateLanding></mat-datepicker>
					</mat-form-field>
				</div>
				<div class="col-sm-5">
					<mat-form-field>
						<input matInput 
						 [min]="minDate"
						 [max]="simAcriveFrom.value.dateLanding"
						 [matDatepicker]="pickerDateAppearance" 
						 placeholder="בחרו תאריך המראה" name="dateAppearance" ngModel>
						<mat-datepicker-toggle matSuffix [for]="pickerDateAppearance"></mat-datepicker-toggle>
						<mat-datepicker touchUi="true" #pickerDateAppearance></mat-datepicker>
					</mat-form-field>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<button mat-button class="bg-button bg-green-button"
					[disabled]="!simAcriveFrom.valid"
					(click)="scrollAnimate(appAdditionally)"
					(click)="isShow='show'">המשך</button>
				</div>
			</div>

		</form>
		
	</div>
</section>

<!--  -->
<!-- <pre>{{ clientInfoFormData | json}}</pre> -->
<!--  -->

<div [@toggleHeight]="isShow" #appAdditionally>
	<app-additionally
		[simAcriveFromData]="simAcriveFrom.value">
	</app-additionally>
</div>