@import '../assets/scss/typography.scss';


#sim-active-form{
	padding-bottom: 104px;
	padding-top: 20px;
	h1{
		text-align: center;
		margin-top: 70px;
		color: $purpleDark;
		margin-bottom: 66px;
	}
	.days-travel{
		color: $green;
  		font-size: 22px;
		line-height: 2;
	}
	.bg-button{
		margin-top: 30px;
	}
	
}
