<section id="promotion" class="gradient-background">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<img src="./assets/img/promotion.png" alt="promotion">
			</div>
			<div class="col-sm-6">
				<div class="title"><b>שמור על הקשר</b></div>
				<div class="title">מכל מקום בעולם</div>

				<div class="list">
					<div class="list-item">סים אחד לכל מכשירי סלולר</div>
					<div class="list-item">חבילות גלישה ושיחות מותאמות לפי הצרכים שלך</div>
					<div class="list-item">תמוכה תכנית 24/7</div>
					<div class="list-item">משלוח חינם</div>
				</div>
				<button type="submit" mat-button class="bg-button" 
				(click)="scrollAnimate(FlyForm)" >הזמינו\ עכשיו!</button>
			</div>
		</div>
	</div>
</section>