@import '../assets/scss/typography.scss';

#additionally{
	padding-top: 100px;
	@include gradient-background();

	h1{
		text-align: center;
		margin-top: 50px;
		color: $white;
		font-weight: 700;
		margin-bottom: 20px;
	}

	h3{
		text-align: center;
		color: $white;
		margin-bottom: 60px;
	}



}

