<section id="personal-details" class="gradient-background">
	<div class="container">
		<h1>ניצול חבילת גלישה  </h1>
		<h3>תוקף החבילה 28-03-18 23:59 שעון ספרד  </h3>
		
		<div class="progress-comtainer {{colorProgress}}">
			<i aria-hidden="true" class="fa fa-globe"></i>
			<p>
				<span class="left">מתוך :   <b>7 GB</b></span> 
				<span class="right">יתרתך הגלישה לשימוש  : <b>200 Mb</b></span>
		    </p>
			<mat-progress-bar mode="determinate" value="{{valueProgress}}"></mat-progress-bar>
			<p>
				<b class="left">0 GB</b>
				<b class="right">7 GB</b>
			</p>
		</div>

		<div class="button-container">
			<div class="row">
				<div class="col-sm-6">
					<button type="submit" mat-button class="bg-button bg-orange-button">רכישת חבילה אחרת  </button>
				</div>
				<div class="col-sm-6">
					<button type="submit" mat-button class="bg-button bg-green-button">טעינה של חבילה שברשותך   </button>
				</div>
			</div>
		</div>
	</div>
</section>