<section id="fly-form" class="gray-background" 
(mouseover)="checkList(flyForm.value.country, flyForm.value.country2, flyForm.value.country3)"
#FlyForm>
<!-- <pre>{{done | json}}</pre> -->
<!-- <pre>{{countries | json}}</pre> -->

	<div class="container">
		<h1>לאן טסים?  </h1>
		<h3>אנא בחרו את היעד המבוקש ותאריכי טיסה</h3>
		
		<form #flyForm="ngForm" 
		(ngSubmit)="onSubmit(flyForm)"
		(ngSubmit)="scrollAnimate(appofferswrap)">
			
			<div class="select-wrapper">
				<div *ngFor="let countryNameSelect of CountryIdName">
					<div class="row">
						<div class="col-sm-12">
							<mat-form-field class="example-full-width">
							    <input type="text" 
							    placeholder="בחרו את העיד  :"
							    name="{{ countryNameSelect['nameSalect'] }}" 
							    [ngModel]="getObjectValue(flyFormStor, countryNameSelect['nameSalect'])"
							    aria-label="Number" 
							    matInput 
							    required
							    [matAutocomplete]="auto">
							    <mat-autocomplete #auto="matAutocomplete" ><!-- [displayWith]="displayFn" -->
							        <mat-option value="{{ country }}" 
							    	*ngFor="let country of getNamesCountryArray() 
							    	| searchAddress:getObjectValue(flyForm.value, countryNameSelect['nameSalect'])" >
							    		{{ country }}
							    	</mat-option>
							    </mat-autocomplete>
							</mat-form-field>
						</div>
					</div>
				</div>
				<!-- remove list -->
				<div id="remove-list" 
				(click)="removeLastList()"
				*ngIf="index >= 0">
					<i class="fa fa-minus" aria-hidden="true"></i>
				</div>
				<!-- <pre>{{ index }}</pre> -->
			</div>

			<!-- date inputs -->
			<div class="row inputs-date-fly-form">
				<div class="col-sm-8  col-xs-12 inputs-load-wrap">
					<div class="row">
						<div class="col-sm-6 col-xs-12">
							<mat-form-field>
								<input matInput required 
								 [min]="minDate" 
								 [max]="flyForm.value.dateAppearance"
								 [matDatepicker]="picker1"
								 placeholder="בחרו תאריך המראה  :"
								 name="dateLanding"
								 [ngModel]="flyFormStor.dateLanding">
								<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
								<mat-datepicker touchUi="false" #picker1></mat-datepicker>
							</mat-form-field>
						</div>

						<div class="col-sm-6 col-xs-12">
							<mat-form-field>
								<input matInput required
								[matDatepicker]="picker2"
								[min]="flyForm.value.dateLanding || minDate"
								placeholder="בחרו תאריך המראה  :"
								name="dateAppearance"
								[ngModel]="flyFormStor.dateAppearance">
								<mat-datepicker-toggle #matTfse
								matSuffix [for]="picker2"></mat-datepicker-toggle>
								<mat-datepicker touchUi="false" #picker2></mat-datepicker>
							</mat-form-field>
						</div>
						
						<div class="non-display">
							<mat-form-field>
								<input type="text" matInput 
								name="countDays"
								[ngModel]="daydiff( flyForm.value.dateAppearance, flyForm.value.dateLanding)">
							</mat-form-field>
						</div>

					</div>
				</div>
			</div><!-- #date inputs -->
			
			<div class="row inputs-date-fly-form">
				<div class="col-sm-4 col-xs-12 button-load-inputs">
					<button mat-button class="bg-button" 
					[disabled]="!flyForm.valid || errorSelect1 || errorSelect2 || errorSelect3"
					>!יאללה ממריאים  </button>
				</div>
			</div>

			<!-- add new list -->
			<div id="add" 
			(click)="addCountryNameInputs()" 
			*ngIf="index < 1">הוסף יעד נוספים  <span>+</span>
			</div>

		</form>
	</div>
</section>

<div [@toggleHeight]="isShow" #appofferswrap>
	<app-offers 
	[packagesResponse]="packagesResponse" 
	[packagesResponseLength]="packagesResponseLength"></app-offers>
</div>

<div [@toggleHeight]="isHide" *ngIf="route.snapshot.routeConfig.path == ''">
	<app-promotion [FlyForm]="FlyForm"></app-promotion>
</div>
