<section id="fly-form" class="gray-background">
	<div class="container">
		<h1>לאן טסים?</h1>
		<h3>אנא בחרו את היעד המבוקש ותאריכי טיסה</h3>
		
		<form #flyForm="ngForm" (ngSubmit)="onSubmit(flyForm)">
			<div class="row">
				<div class="col-sm-12">

					<mat-form-field>
					    <mat-select placeholder="בחרו את העיד:" 
					    name="country" 
					    required 
					    ngModel>
					    	<mat-option value="{{ country['country'] }}" 
					    	*ngFor="let country of countries">
					    		{{ country['country'] }}
					    	</mat-option>
					    </mat-select>
					 </mat-form-field>
				</div>
			</div>
			
			<div class="row inputs-date-fly-form">
				
				<div *ngFor="let newDate of DateId" class="col-sm-8  col-xs-12 inputs-load-wrap">
					<div class="row">
						<div class="col-sm-6 col-xs-12">
							<mat-form-field>
								<input matInput 
								 required 
								 [min]="minDate" 
								 [matDatepicker]="picker1"
								 placeholder=":בחרו תאריך המראה"
								 name="{{ newDate['nameDate1'] }}"
								 ngModel>
								<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
								<mat-datepicker touchUi="true" #picker1></mat-datepicker>
							</mat-form-field>
						</div>

						<div class="col-sm-6 col-xs-12">
							<mat-form-field>
								<input matInput
								required
								[matDatepicker]="picker2"
								[min]="getObjectValue(flyForm.value, newDate['nameDate1'])"
								placeholder=":בחרו תאריך המראה"
								name="{{ newDate['nameDate2'] }}"
								ngModel>
								<mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
								<mat-datepicker touchUi="true" #picker2></mat-datepicker>
							</mat-form-field>
						</div>
					</div>
				</div>

				<div class="col-sm-4 col-xs-12 button-load-inputs">
					<button mat-button class="bg-button" 
					[disabled]="!flyForm.valid">!יאללה ממריאים</button>
				</div>
			</div>

			<div id="add" 
			(click)="addDateInputs()" 
			*ngIf="index < 3">נוסעים ליות מיעד אחד?  הוסף פרטי טיסה נוספת <span>+</span>
			</div>
		</form>
		<!-- <pre>{{  flyForm.value |json }}</pre> -->
	</div>
</section>

<app-offers></app-offers>

<app-promotion></app-promotion>

