@import '../assets/scss/typography.scss';


#available-countries{
	padding-top: 50px;
	padding-bottom: 40px;
	h2{
		color: $purple;
		font-weight: 600;
		font-size: 26px;
    	margin-bottom: 20px;
    	margin-top: 40px;
	}
	table{
		direction: ltr;
		tr{
			&:nth-child(1){
				td{
					border: none;
				}
			}
			td{
				padding: 0;
				line-height: 1.6;
				font-size: 16px;
				direction: rtl;
				text-align: left;
			}
			td:nth-child(2){
				text-align: right;
			}
		}
		i{
			font-size: 22px;
			margin-right: 20px;
			position: relative;
			top: 4px;
			&.i-done{
				color: $green;
			}
			&.i-clear{
				color: $red;
			}
		}
	}

}


/* Small devices (tablets, 768px and up) */
@media only screen and (max-width: 768px) {
	
}