<app-banner></app-banner>

<section id="available-countries">
	<div class="container">
		<table class="table">
		  <tbody>
	  		<tr>
	  			<td class="td-1 mobile-td"><p>אחד לכל החיים  </p></td>
		  		<td class="td-2 mobile-td"><p>אמריקאי  </p></td>
		  		<td class="td-3 mobile-td"><p>בינלאומי  </p></td>
		  		<td><p>מדינות    </p></td>
	  		</tr>
		    <tr *ngFor="let country of countries">
				<td>
					<i class="material-icons i-clear">clear</i>
				</td>
				<td>
					<i class="material-icons i-done">done</i> 
				</td>
				<td>
					<i class="material-icons i-done">done</i> 
				</td>
				<td>{{ country }}</td>
		    </tr>
		  </tbody>
		</table>
	</div>
</section>





