@import '../assets/scss/typography.scss';


#available-countries{
	padding-top: 50px;
	padding-bottom: 40px;
    max-width: 100%;
    overflow: hidden;
	h2{
		color: $purple;
		font-weight: 600;
		font-size: 26px;
    	margin-bottom: 20px;
    	margin-top: 40px;
	}
	table{
		direction: ltr;
		tr{
			&:nth-child(1){
				td{
					border: none;
					font-weight: 600;
					position: relative;
					p{
					    // position: absolute;
						height: 28px;
						direction: rtl;
						left: 0;
						width: 100%;
     					height: min-content;
     					min-height: 30px;
					}
				}
			}
			td{
				padding: 0;
				line-height: 1.6;
				font-size: 16px;
				direction: rtl;
				text-align: left;
				text-align: center;
			}
			td:nth-child(4){
				text-align: right;
			}
		}
		i{
			font-size: 22px;
			margin-right: 20px;
			position: relative;
			top: 4px;
			&.i-done{
				color: $green;
			}
			&.i-clear{
				color: $red;
			}
		}
	}

}


/* Small devices (tablets, 768px and up) */
@media only screen and (max-width: 768px) {
	#available-countries{
		padding-top: 120px;
		table{
			tr{
				td{
				    max-width: 50px;
     				p{
					    position: static;
					}
				}
				td:nth-child(4){
					position: relative;
					max-width: 50px;
				}
			}
		}
	}
}