<section id="payment-form">
	<div class="container">
		<h1>פרטי תשלום</h1>
		<h3>אנה הזן פרטי תשלום </h3>
		
		<form #PaymentForm="ngForm">
			<div class="row">
				<div class="row form-inputs">
					<!-- cvv -->
					<div class="col-md-6 col-sm-12 col-xs-12">
						<mat-form-field>
							<input matInput 
							required
							placeholder="מספר כרטיס אשראי" 
							minlength="8" 
							maxlength="16" 
							(keypress)="number_keyPress($event)" 
							#numberCard 
							name="numberCard" 
							ngModel>
						</mat-form-field>
					</div>
					
					<!-- year -->
					<div class="col-md-2 col-sm-4 col-xs-6">
						<mat-form-field>
							<mat-select placeholder="YYYY"
							required ngModel name="year">
								<mat-option *ngFor="let y of year" [value]="y">
								{{ y }}
								</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
					
					<!-- month -->
					<div class="col-md-2 col-sm-4 col-xs-6">
						<mat-form-field>
							<mat-select placeholder="MM"
							required ngModel name="month">
								<mat-option *ngFor="let month of months" [value]="month">
								{{ month }}
								</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
					
					<!-- card -->
					<div class="col-md-2 col-sm-4 col-xs-6">
						<span class="form-info" 
						
						(click)="tooltipCVV.show()"
						(mouseover)="tooltipCVV.show()">?</span>
						<mat-form-field class="cvv-input">
							<input matInput 
							(mouseover)="tooltipCVV.hide()"
							(click)="tooltipCVV.hide()"
							required 
							placeholder="CVV"
							minlength="3"
							maxlength="4"
							(keypress)="number_keyPress($event)" 
							#cvv 
							name="cvv" 
							ngModel>
						</mat-form-field>

						<span class="tool" matTooltip="{{tooltipCVVcontent}}" 
						matTooltipPosition="above"
						tooltip="matTooltip" 
						matTooltipShowDelay="100"
						#tooltipCVV="matTooltip"></span>
					</div>

				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-4 col-xs-6">
					<div class="payment-service">
						<img src="./assets/img/1-payment.png" alt="payment">
						<img src="./assets/img/2-payment.png" alt="payment">
						<img src="./assets/img/3-payment.png" alt="payment">
					</div>
				</div>
				<div class="col-sm-8">
					<mat-checkbox [align]="true" name="isAllowToSave" ngModel="false">מאשר לשמור פרטי הכרטיס במערכת לטעינות עתידיות</mat-checkbox>
				</div>
			</div>
			
			<!-- buttons -->
			<div class="row">
				<div class="col-sm-12 buttons">
					<button mat-button class="bg-button main-button"
					(click)="showTotal()">חזור </button>
					<button mat-button class="bg-button bg-green-button"
					(click)="onSubmit(PaymentForm)">הזמן כטיס </button>
				</div>
			</div>
		</form>
	</div>

	<!-- <pre>{{ PaymentForm.value | json }}</pre> -->
</section>
