<section id="payment-form">
	<div class="container">
		<h1>פרטי תשלום</h1>
		<h3>אנה הזן פרטי תשלום </h3>
		
		
		<form #PaymentForm="ngForm" (ngSubmit)="onSubmit(PaymentForm)">

			<div class="row">
				<span class="form-info" (click)="tooltipCVV.show()">?</span>

				<div class="row form-inputs">
					<!-- cvv -->
					<div class="col-md-6">
						<mat-form-field>
							<input matInput 
							required
							placeholder="מספר כרטיס אשראי" 
							minlength="8" 
							maxlength="16" 
							(keypress)="number_keyPress($event)" 
							#numberCard 
							name="numberCard" 
							ngModel>
						</mat-form-field>
					</div>
					
					<!-- year -->
					<div class="col-md-2">
						<mat-form-field>
							<mat-select placeholder="YYYY"
							required ngModel name="year">
								<mat-option *ngFor="let y of year" [value]="y">
								{{ y }}
								</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
					
					<!-- month -->
					<div class="col-md-2">
						<mat-form-field>
							<mat-select placeholder="MM"
							required ngModel name="month">
								<mat-option *ngFor="let month of months" [value]="month">
								{{ month }}
								</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
					
					<!-- card -->
					<div class="col-md-2" matTooltip="{{toptilCVV}}" matTooltipPosition="above" tooltip="matTooltip" matTooltipShowDelay="100" #tooltipCVV="matTooltip" (mouseover)="tooltipCVV.hide()">
						<mat-form-field class="cvv-input">
							<input matInput 
							required 
							placeholder="CVV"
							minlength="3"
							maxlength="4"
							(keypress)="number_keyPress($event)" 
							#cvv 
							name="cvv" 
							ngModel>
						</mat-form-field>
					</div>

				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-4">
					<div class="payment-service">
						<img src="./assets/img/1-payment.png" alt="payment">
						<img src="./assets/img/2-payment.png" alt="payment">
						<img src="./assets/img/3-payment.png" alt="payment">
					</div>
				</div>
				<div class="col-sm-8">
					<mat-checkbox [align]="true" name="checked" ngModel>מאשר לשמור פרטי הכרטיס במערכת לטעינות עתידיות</mat-checkbox>
				</div>
			</div>

			<button mat-button class="bg-button" [disabled]="!PaymentForm.valid">הזמן כטיס </button>
		</form>
		
	</div>
</section>

