@import '../assets/scss/typography.scss';

#form-sim{
	padding-top: 100px;
	h3{
		text-align: right;
		margin-bottom: 20px;
	}
	
	.input-sim{
		margin-bottom: 14px;
	}
	.bg-button{
		margin-top: 35px;
    	margin-bottom: 98px;
	}
}

