<section id="form-sim">
	<div class="container">
		
		<form #formSim="ngForm" (ngSubmit)="onSubmit(formSim)">
			
			<h3>בחר בסים המבוקש</h3>
			<div class="row">

				<div class="col-sm-12">
					<mat-form-field>
						<input matInput placeholder="כרטיס סים כלשהו" name="SIM" ngModel />
					</mat-form-field>
				</div>
			</div>
			
			<h3>מלא פרטי משווק</h3>
			<div class="row">
				<div class="col-sm-4">
					<mat-form-field>
						<input matInput placeholder="כרטיס סים כלשהו" name="SIM" ngModel />
					</mat-form-field>
				</div>
				<div class="col-sm-4">
					<mat-form-field>
						<input matInput placeholder="כרטיס סים כלשהו" name="SIM" ngModel />
					</mat-form-field>
				</div>
				<div class="col-sm-4">
					<mat-form-field>
						<input matInput placeholder="כרטיס סים כלשהו" name="SIM" ngModel />
					</mat-form-field>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<button mat-button class="bg-button bg-green-button">המשך</button>
				</div>
			</div>

		</form>

		<br>
		<br>
		<!-- <pre>{{ formSim.value | json }}</pre> -->

	</div>
</section>
