<app-banner></app-banner>

<section id="thank-you-page">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h2>פרטי משלוח  </h2>
				<p>שם פרטי ומשפחה : דריה נייבורגר
				כתובת :פרדס משוטף 12 , רעננה ת ישראל  </p>
				<p>כרטיס הסים יגיע אל נקודת האיסוף תוך 2 ימי עבודה
				<span><b>למעקב אחר המשלוח  </b></span></p>
			</div>
			<div class="col-sm-6">
				<h2>פרטי הזמנה  </h2>
				<table class="table">
				  <tbody>
				    <tr>
				      <td><b>29 ₪ ליום  </b></td>
				      <td>חבילת גלישה : unlimited </td>
				    </tr>
				    <tr>
				      <td><b>10 ימים  </b></td>
				      <td>סה”כ ימים  </td>
				    </tr>
				    <tr>
				      <td><b>29 ₪  </b></td>
				      <td>חבילת שיחות : unlimited </td>
				    </tr>
				    <tr>
				      <td><b>29 ₪  </b></td>
				      <td>עלות כרטיס ומשלוח (חד פעמי) </td>
				    </tr>
				    <tr>
				      <td><b>01/08/2018</b></td>
				      <td>תאריך ההתחלה :</td>
				    </tr>
				    <tr>
				      <td><b>05/08/2018</b></td>
				      <td>תאריך סיום : </td>
				    </tr>
				    <tr>
				      <td><b>117 ₪</b></td>
				      <td>סה”כ שלום : </td>
				    </tr>
				    <tr>
				      <td><b>1212354545</b></td>
				      <td><b>מספר אישור עסקה: </b></td>
				    </tr>
				  </tbody>
				</table>
			</div>
			<div class="col-sm-6">
				<h2>צור קשר  </h2>
				<p><b>מוקד תמיכה טכנית 24/7 לסים נטען  </b></p>
				<div class="contact">
					<a href="tel:073-705137">
						<p><i class="fa fa-phone" aria-hidden="true"></i> 073-7051375 </p>
					</a>
					<a href="tel:054-9918008">
						<p><i class="fa fa-whatsapp" aria-hidden="true"></i> 054-9918008</p>
					</a>
				</div>
				<p><span><b>שאלות נפוצות  </b></span></p>
			</div>
			<div class="col-sm-6">
				<h2>פרטי משתמש שלי  </h2>
				<p>שם משתמש: DNEY</p>
				<p>דוא”ל : dney@fsd.com </p>
				<p>סיסמה: 1245DS </p>

				<button mat-button 
				class="bg-button bg-green-button">כניסה למנוי שלי  </button>
			</div>
		</div>
	</div>
</section>

