<section id="total">
	<div class="container">
		<div class="row">
			
			<div class="col-sm-6 selected-services float-right-sm">
				<h1>שרותים שנבחרו</h1>
				<table class="table">
				  <tbody>
				    <tr>
				      <td><b>₪ 29  ליום</b></td>
				      <td>unlimited : חבילת גלישה</td>
				    </tr>
				    <tr>
				      <td><b>10 ימים</b></td>
				      <td>סה”כ ימים </td>
				    </tr>
				    <tr>
				      <td><b> </b></td>
				      <td> </td> 
				    </tr>
				    <tr>
				      <td><b>₪ 59  </b></td>
				      <td>unlimited : חבילת שיחות</td>
				    </tr>
				    <tr>
				      <td><b>₪ 29  </b></td>
				      <td>עלות כרטיס ומשלוח (חד פעמי)</td> 
				    </tr>

				    <tr *ngIf="isActiveCoupon">
				      <td><b>- ₪10  </b></td>
				      <td>{{ totalForm.value.coupon }}</td> 
				    </tr>
				    
				  </tbody>
				</table>
			</div>
			<div class="col-sm-6 input-box float-right-sm">
				<h1>סה״כ לתשלום</h1>
				<!-- <h2>יש לך קוד קופון</h2> -->
				
				<div class="total-price">₪ 117</div>
				<span class="open-counpon {{!showInput}}" (click)="showInputCoupon()" >יש לי קופון  </span>
				
				<form #totalForm="ngForm" 
				(ngSubmit)="onSubmit(totalForm)" 
				class="{{showInput}}">
					<div class="row">
						<div class="col-xs-4">
							<button mat-button class="bg-button bg-green-button" 
							[disabled]="!totalForm.valid"
							(click)="sendCoupon(totalForm.value.coupon)">לבדוק  </button>
						</div>
						<div class="col-xs-8">
							<mat-form-field>
								<input matInput placeholder="הזן קוד קופון" 
								name="coupon" ngModel/>
							</mat-form-field>
						</div>
						<div class="col-xs-12 invalid-coupon" *ngIf="errorCoupon">
							<p>{{ errorCoupon }}</p>
						</div>
					</div>
				</form>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<!-- <h3>!ניתן לטעינות חוזרת בכל עת גלישה במהירות מירבית סים אחד לכל החיים*</h3> -->
				<button mat-button class="bg-button bg-green-button main-button"
				(click)="scrollAnimate(appPayment)"
				(click)="isShow='show'">המשך</button>
				<hr>
			</div>
		</div>
	</div>
</section>

<!--  -->
<!-- <pre>{{ additionallyFromData | json }}</pre> -->
<!--  -->

<div [@toggleHeight]="isShow" #appPayment>
	<app-payment [totalFormData]="totalForm.value">
	</app-payment>
</div>