// bootstrap sass version 3
@import 'variables';
@import '../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// 
@import './assets/scss/typography.scss';



body{
	font-family: 'Open Sans Hebrew', sans-serif;
	font-style: normal;
	font-weight: 400;
	background: $white;
	// background: $mainBackground;
}

.container{
    width: 1200px;
    max-width: 100%;
    position: relative;
}

img{
	width: max-content;
}


// form inputs
#form-sim .mat-form-field-wrapper,
#total .mat-form-field-wrapper,
#sim-active-form .mat-form-field-wrapper,
#payment-form .mat-form-field-wrapper{
  border: 2px solid $grayLight;
}

#payment-form .cvv-input .mat-form-field-wrapper{
  margin: 0;
}


#client-info{
  .mat-checkbox-label{
    color: $white;
    font-size: 26px;
    line-height: 2.413;
  }
  .mat-checkbox-frame{
    border-color: $white;
  }
}


@media only screen and (max-width: 1500px) {
  .row > .row{
    margin: 0 !important;
  }

}


// fonts
@font-face {
  font-family: 'Open Sans Hebrew';
  font-style: italic;
  font-weight: 300;
  src: url('//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-LightItalic.eot');
  src: url('//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-LightItalic.eot?#iefix') format('embedded-opentype'),
       url('//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-LightItalic.woff2') format('woff2'),
       url('//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-LightItalic.woff') format('woff'),
       url('//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-LightItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans Hebrew';
  font-style: normal;
  font-weight: 300;
  src: url('//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-Light.eot');
  src: url('//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-Light.eot?#iefix') format('embedded-opentype'),
       url('//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-Light.woff2') format('woff2'),
       url('//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-Light.woff') format('woff'),
       url('//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans Hebrew';
  font-style: italic;
  font-weight: 400;
  src: url('//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-Italic.eot');
  src: url('//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-Italic.eot?#iefix') format('embedded-opentype'),
       url('//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-Italic.woff2') format('woff2'),
       url('//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-Italic.woff') format('woff'),
       url('//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans Hebrew';
  font-style: normal;
  font-weight: 400;
  src: url('//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-Regular.eot');
  src: url('//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-Regular.eot?#iefix') format('embedded-opentype'),
       url('//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-Regular.woff2') format('woff2'),
       url('//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-Regular.woff') format('woff'),
       url('//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans Hebrew';
  font-style: italic;
  font-weight: 700;
  src: url('//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-BoldItalic.eot');
  src: url('//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-BoldItalic.eot?#iefix') format('embedded-opentype'),
       url('//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-BoldItalic.woff2') format('woff2'),
       url('//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-BoldItalic.woff') format('woff'),
       url('//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-BoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans Hebrew';
  font-style: normal;
  font-weight: 700;
  src: url('//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-Bold.eot');
  src: url('//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-Bold.eot?#iefix') format('embedded-opentype'),
       url('//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-Bold.woff2') format('woff2'),
       url('//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-Bold.woff') format('woff'),
       url('//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans Hebrew';
  font-style: italic;
  font-weight: 800;
  src: url('//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-ExtraBoldItalic.eot');
  src: url('//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
       url('//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-ExtraBoldItalic.woff2') format('woff2'),
       url('//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-ExtraBoldItalic.woff') format('woff'),
       url('//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-ExtraBoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans Hebrew';
  font-style: normal;
  font-weight: 800;
  src: url('//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-ExtraBold.eot');
  src: url('//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-ExtraBold.eot?#iefix') format('embedded-opentype'),
       url('//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-ExtraBold.woff2') format('woff2'),
       url('//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-ExtraBold.woff') format('woff'),
       url('//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-ExtraBold.ttf') format('truetype');
}


/*
 * Open Sans Hebrew Condensed (Hebrew) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Open Sans Hebrew Condensed';
  font-style: italic;
  font-weight: 300;
  src: url('//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-LightItalic.eot');
  src: url('//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-LightItalic.eot?#iefix') format('embedded-opentype'),
       url('//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-LightItalic.woff2') format('woff2'),
       url('//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-LightItalic.woff') format('woff'),
       url('//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-LightItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans Hebrew Condensed';
  font-style: normal;
  font-weight: 300;
  src: url('//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-Light.eot');
  src: url('//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-Light.eot?#iefix') format('embedded-opentype'),
       url('//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-Light.woff2') format('woff2'),
       url('//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-Light.woff') format('woff'),
       url('//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans Hebrew Condensed';
  font-style: italic;
  font-weight: 400;
  src: url('//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-Italic.eot');
  src: url('//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-Italic.eot?#iefix') format('embedded-opentype'),
       url('//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-Italic.woff2') format('woff2'),
       url('//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-Italic.woff') format('woff'),
       url('//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans Hebrew Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-Regular.eot');
  src: url('//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-Regular.eot?#iefix') format('embedded-opentype'),
       url('//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-Regular.woff2') format('woff2'),
       url('//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-Regular.woff') format('woff'),
       url('//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans Hebrew Condensed';
  font-style: italic;
  font-weight: 700;
  src: url('//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-BoldItalic.eot');
  src: url('//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-BoldItalic.eot?#iefix') format('embedded-opentype'),
       url('//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-BoldItalic.woff2') format('woff2'),
       url('//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-BoldItalic.woff') format('woff'),
       url('//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-BoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans Hebrew Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-Bold.eot');
  src: url('//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-Bold.eot?#iefix') format('embedded-opentype'),
       url('//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-Bold.woff2') format('woff2'),
       url('//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-Bold.woff') format('woff'),
       url('//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans Hebrew Condensed';
  font-style: italic;
  font-weight: 800;
  src: url('//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-ExtraBoldItalic.eot');
  src: url('//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
       url('//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-ExtraBoldItalic.woff2') format('woff2'),
       url('//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-ExtraBoldItalic.woff') format('woff'),
       url('//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-ExtraBoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans Hebrew Condensed';
  font-style: normal;
  font-weight: 800;
  src: url('//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-ExtraBold.eot');
  src: url('//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-ExtraBold.eot?#iefix') format('embedded-opentype'),
       url('//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-ExtraBold.woff2') format('woff2'),
       url('//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-ExtraBold.woff') format('woff'),
       url('//fonts.gstatic.com/ea/opensanshebrewcondensed/v3/OpenSansHebrewCondensed-ExtraBold.ttf') format('truetype');
}