// bootstrap sass version 3
@import 'variables';
@import '../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// 
@import './assets/scss/typography.scss';



body{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	// background: $white;
	background: $mainBackground;
}

.container{
    width: 1200px;
    max-width: 100%;
}

img{
	width: max-content;
}