<section id="returning-chosen-package" #returning>
	<div class="container">
		<div class="row">
			<div class="col-sm-4 package-container">
				<div class="package blue">
					<div class="package-header">
						<h1>{{ getSlidePackgeData['Name'] }}</h1>
						<h3>{{ getSlidePackgeData['Type'] }}</h3>
					</div>
					<div class="package-content">
						<div class="price">₪ 
							{{ getSlidePackgeData['PackagePrice'] }}
						</div>
						<div class="days">
							( ימים  <span> {{ getSlidePackgeData['DaysExpired'] }} )</span> 
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-8 content">
				<!-- <h3>{{ getSlidePackgeData['Name'] }}</h3> -->
				<ul>
					<li *ngFor="let option of getSlidePackgeData['Details']">
						{{ option }}
					</li>
				</ul>
				<p>{{ getSlidePackgeData['Description'] }}</p>
				
				<span class="another-program"
				*ngIf="getActiveChangePacckage()"
				(click)="scrollAnimate(appOffers)"
				(click)="isShow='show'">
				<!-- (click)="changePackageLink()" -->
					לבחירת תוכנית אחרת
				</span>
			</div>

		</div>
	</div>
</section>


<div [@toggleHeight]="isShow" #appOffers>
	<app-fly-form></app-fly-form>
</div>