<section id="returning-chosen-package" #returning>
	<div class="container">
		<div class="row">
			
			<div class="col-sm-4 package-container">
				<div class="package">
					<div class="package-header {{ getSlidePackgeData['color'] }}">
						<h1>{{ getSlidePackgeData['title'] }}</h1>
						<h3>{{ getSlidePackgeData['sub-title'] }}</h3>
					</div>
					<div class="package-content {{ getSlidePackgeData['color'] }}">
						<div class="price">₪ {{ getSlidePackgeData['price'] }}</div>
						<div class="days">({{ getSlidePackgeData['days'] }})</div>
					</div>
				</div>
			</div>

			<div class="col-sm-8 content">
				<h3>{{ getSlidePackgeData['title'] }}</h3>
				<ul>
					<li *ngFor="let option of getSlidePackgeData['options']">
						{{ option }}
					</li>
				</ul>
				<p>{{ getSlidePackgeData['desc'] }}</p>
				
				<span class="another-program"
				*ngIf="getActiveChangePacckage()"
				(click)="scrollAnimate(appOffers)"
				(click)="isShow='show'">
				<!-- (click)="changePackageLink()" -->
					לבחירת תוכנית אחרת
				</span>
			</div>

		</div>
	</div>
</section>


<div [@toggleHeight]="isShow" #appOffers>
	<app-offers></app-offers>
</div>