@import '../assets/scss/typography.scss';

#chosen-package{
	background: $gradient-background-purple;
	position: relative;
	z-index: 5;
	color: $white;
	padding-top: 30px;
	padding-bottom: 50px;
	table{
		td{
			border: none;
			text-align: right;
			font-size: 18px;
		    direction: rtl;
		}
	}
	img{
		float: right;
		max-width: 100%;
	}
	p{
		text-align: center;
		font-size: 18px;
		text-decoration: underline;
	}
	
	.bg-button{
		margin-top: 40px;
		margin-bottom: 20px;
		width: 260px;
	}
	.bg-button.bg-green-button{
		margin-right: 0;
	}
	.bg-button.bg-orange-button{
		margin-left: 0;
	}
}

/* Small devices (tablets, 768px and up) */
@media only screen and (max-width: 768px) {
	
	#chosen-package{
		.bg-button,
		.bg-button.bg-green-button,
		.bg-button.bg-orange-button,{
			margin-left: auto;
			margin-right: auto;
			margin-top: 20px;
		}
		img{
			display: block;
			float: none;
			margin: 0 auto;
		}
	}
}