<section id="chosen-package">
	
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<table class="table">
					<tbody>
						<tr>
							<td>סים אחד לכל החיים </td>
							<td><b>סוג כרטיס: </b></td>
						</tr>
						<tr>
							<td>פעיל  </td>
							<td><b>סמצב הכרטיס: </b></td>
						</tr>
						<tr>
							<td>כרטיס בדרך לנקודת איסוף </td>
							<td><b>סמצב הכרטיס: </b></td>
						</tr>
						<tr>
							<td>להפעלת כרטיס </td>
							<td><b>סמצב הכרטיס: </b></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-sm-6">
				<img src="./assets/img/sim.png" alt="Bglobal sim" class="sim-img">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<button mat-button class="bg-button bg-green-button">עינת כרטיס  |בדיקת חבילה  </button>
			</div>
			<div class="col-sm-6">
				<button mat-button class="bg-button bg-orange-button">לרכישת כרטיס סים נוסף   </button>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<p>דיווח על אובדן של כרטיס סים</p>
			</div>
		</div>
	</div>
</section>