<app-banner></app-banner>

<section id="faq-page">
	<div class="container">
		<mat-tab-group>
			<mat-tab label=" ים אירופאי  ">
				<mat-accordion>
				    <mat-expansion-panel>
					    <mat-expansion-panel-header>
					    	אני מעוניינ/ת לקבל את כרטיס הsim עד הבית  ?
					    </mat-expansion-panel-header>
					    <p>
					    ועניב היושבב שערש שמחויט - שלושע ותלברו חשלו שעותלשך וחאית נובש ערששף.\
						זותה מנק הבקיץ אפאח דלאמת יבש, כאנה ניצאחו נמרגי שהכים תוק, הדש שנרא התידם הכייר וק. 
						</p>
				    </mat-expansion-panel>
				    <mat-expansion-panel>
					    <mat-expansion-panel-header>
					    	אני מעוניינ/ת לקבל את כרטיס הsim עד הבית  ?
					    </mat-expansion-panel-header>
					    <p>
					    ועניב היושבב שערש שמחויט - שלושע ותלברו חשלו שעותלשך וחאית נובש ערששף.\
						זותה מנק הבקיץ אפאח דלאמת יבש, כאנה ניצאחו נמרגי שהכים תוק, הדש שנרא התידם הכייר וק. 
						</p>
				    </mat-expansion-panel>
				    <mat-expansion-panel>
					    <mat-expansion-panel-header>
					    	אני מעוניינ/ת לקבל את כרטיס הsim עד הבית  ?
					    </mat-expansion-panel-header>
					    <p>
					    ועניב היושבב שערש שמחויט - שלושע ותלברו חשלו שעותלשך וחאית נובש ערששף.\
						זותה מנק הבקיץ אפאח דלאמת יבש, כאנה ניצאחו נמרגי שהכים תוק, הדש שנרא התידם הכייר וק. 
						</p>
				    </mat-expansion-panel>
				    <mat-expansion-panel>
					    <mat-expansion-panel-header>
					    	אני מעוניינ/ת לקבל את כרטיס הsim עד הבית  ?
					    </mat-expansion-panel-header>
					    <p>
					    ועניב היושבב שערש שמחויט - שלושע ותלברו חשלו שעותלשך וחאית נובש ערששף.\
						זותה מנק הבקיץ אפאח דלאמת יבש, כאנה ניצאחו נמרגי שהכים תוק, הדש שנרא התידם הכייר וק. 
						</p>
				    </mat-expansion-panel>
				    <mat-expansion-panel>
					    <mat-expansion-panel-header>
					    	אני מעוניינ/ת לקבל את כרטיס הsim עד הבית  ?
					    </mat-expansion-panel-header>
					    <p>
					    ועניב היושבב שערש שמחויט - שלושע ותלברו חשלו שעותלשך וחאית נובש ערששף.\
						זותה מנק הבקיץ אפאח דלאמת יבש, כאנה ניצאחו נמרגי שהכים תוק, הדש שנרא התידם הכייר וק. 
						</p>
				    </mat-expansion-panel>
				    <mat-expansion-panel>
					    <mat-expansion-panel-header>
					    	אני מעוניינ/ת לקבל את כרטיס הsim עד הבית  ?
					    </mat-expansion-panel-header>
					    <p>
					    ועניב היושבב שערש שמחויט - שלושע ותלברו חשלו שעותלשך וחאית נובש ערששף.\
						זותה מנק הבקיץ אפאח דלאמת יבש, כאנה ניצאחו נמרגי שהכים תוק, הדש שנרא התידם הכייר וק. 
						</p>
				    </mat-expansion-panel>
				</mat-accordion>
			</mat-tab>

			<mat-tab label="סים אמריקאי  ">
				<mat-accordion>
				    <mat-expansion-panel>
					    <mat-expansion-panel-header>
					    	אני מעוניינ/ת לקבל את כרטיס הsim עד הבית  ?
					    </mat-expansion-panel-header>
					    <p>
					    ועניב היושבב שערש שמחויט - שלושע ותלברו חשלו שעותלשך וחאית נובש ערששף.\
						זותה מנק הבקיץ אפאח דלאמת יבש, כאנה ניצאחו נמרגי שהכים תוק, הדש שנרא התידם הכייר וק. 
						</p>
				    </mat-expansion-panel>
				    <mat-expansion-panel>
					    <mat-expansion-panel-header>
					    	אני מעוניינ/ת לקבל את כרטיס הsim עד הבית  ?
					    </mat-expansion-panel-header>
					    <p>
					    ועניב היושבב שערש שמחויט - שלושע ותלברו חשלו שעותלשך וחאית נובש ערששף.\
						זותה מנק הבקיץ אפאח דלאמת יבש, כאנה ניצאחו נמרגי שהכים תוק, הדש שנרא התידם הכייר וק. 
						</p>
				    </mat-expansion-panel>
				    <mat-expansion-panel>
					    <mat-expansion-panel-header>
					    	אני מעוניינ/ת לקבל את כרטיס הsim עד הבית  ?
					    </mat-expansion-panel-header>
					    <p>
					    ועניב היושבב שערש שמחויט - שלושע ותלברו חשלו שעותלשך וחאית נובש ערששף.\
						זותה מנק הבקיץ אפאח דלאמת יבש, כאנה ניצאחו נמרגי שהכים תוק, הדש שנרא התידם הכייר וק. 
						</p>
				    </mat-expansion-panel>
				    <mat-expansion-panel>
					    <mat-expansion-panel-header>
					    	אני מעוניינ/ת לקבל את כרטיס הsim עד הבית  ?
					    </mat-expansion-panel-header>
					    <p>
					    ועניב היושבב שערש שמחויט - שלושע ותלברו חשלו שעותלשך וחאית נובש ערששף.\
						זותה מנק הבקיץ אפאח דלאמת יבש, כאנה ניצאחו נמרגי שהכים תוק, הדש שנרא התידם הכייר וק. 
						</p>
				    </mat-expansion-panel>
				    <mat-expansion-panel>
					    <mat-expansion-panel-header>
					    	אני מעוניינ/ת לקבל את כרטיס הsim עד הבית  ?
					    </mat-expansion-panel-header>
					    <p>
					    ועניב היושבב שערש שמחויט - שלושע ותלברו חשלו שעותלשך וחאית נובש ערששף.\
						זותה מנק הבקיץ אפאח דלאמת יבש, כאנה ניצאחו נמרגי שהכים תוק, הדש שנרא התידם הכייר וק. 
						</p>
				    </mat-expansion-panel>
				    <mat-expansion-panel>
					    <mat-expansion-panel-header>
					    	אני מעוניינ/ת לקבל את כרטיס הsim עד הבית  ?
					    </mat-expansion-panel-header>
					    <p>
					    ועניב היושבב שערש שמחויט - שלושע ותלברו חשלו שעותלשך וחאית נובש ערששף.\
						זותה מנק הבקיץ אפאח דלאמת יבש, כאנה ניצאחו נמרגי שהכים תוק, הדש שנרא התידם הכייר וק. 
						</p>
				    </mat-expansion-panel>
				</mat-accordion>
			</mat-tab>

			<mat-tab label="סים אחד לכל החיים  ">
				<mat-accordion>
				    <mat-expansion-panel>
					    <mat-expansion-panel-header>
					    	אני מעוניינ/ת לקבל את כרטיס הsim עד הבית  ?
					    </mat-expansion-panel-header>
					    <p>
					    ועניב היושבב שערש שמחויט - שלושע ותלברו חשלו שעותלשך וחאית נובש ערששף.\
						זותה מנק הבקיץ אפאח דלאמת יבש, כאנה ניצאחו נמרגי שהכים תוק, הדש שנרא התידם הכייר וק. 
						</p>
				    </mat-expansion-panel>
				    <mat-expansion-panel>
					    <mat-expansion-panel-header>
					    	אני מעוניינ/ת לקבל את כרטיס הsim עד הבית  ?
					    </mat-expansion-panel-header>
					    <p>
					    ועניב היושבב שערש שמחויט - שלושע ותלברו חשלו שעותלשך וחאית נובש ערששף.\
						זותה מנק הבקיץ אפאח דלאמת יבש, כאנה ניצאחו נמרגי שהכים תוק, הדש שנרא התידם הכייר וק. 
						</p>
				    </mat-expansion-panel>
				    <mat-expansion-panel>
					    <mat-expansion-panel-header>
					    	אני מעוניינ/ת לקבל את כרטיס הsim עד הבית  ?
					    </mat-expansion-panel-header>
					    <p>
					    ועניב היושבב שערש שמחויט - שלושע ותלברו חשלו שעותלשך וחאית נובש ערששף.\
						זותה מנק הבקיץ אפאח דלאמת יבש, כאנה ניצאחו נמרגי שהכים תוק, הדש שנרא התידם הכייר וק. 
						</p>
				    </mat-expansion-panel>
				    <mat-expansion-panel>
					    <mat-expansion-panel-header>
					    	אני מעוניינ/ת לקבל את כרטיס הsim עד הבית  ?
					    </mat-expansion-panel-header>
					    <p>
					    ועניב היושבב שערש שמחויט - שלושע ותלברו חשלו שעותלשך וחאית נובש ערששף.\
						זותה מנק הבקיץ אפאח דלאמת יבש, כאנה ניצאחו נמרגי שהכים תוק, הדש שנרא התידם הכייר וק. 
						</p>
				    </mat-expansion-panel>
				    <mat-expansion-panel>
					    <mat-expansion-panel-header>
					    	אני מעוניינ/ת לקבל את כרטיס הsim עד הבית  ?
					    </mat-expansion-panel-header>
					    <p>
					    ועניב היושבב שערש שמחויט - שלושע ותלברו חשלו שעותלשך וחאית נובש ערששף.\
						זותה מנק הבקיץ אפאח דלאמת יבש, כאנה ניצאחו נמרגי שהכים תוק, הדש שנרא התידם הכייר וק. 
						</p>
				    </mat-expansion-panel>
				    <mat-expansion-panel>
					    <mat-expansion-panel-header>
					    	אני מעוניינ/ת לקבל את כרטיס הsim עד הבית  ?
					    </mat-expansion-panel-header>
					    <p>
					    ועניב היושבב שערש שמחויט - שלושע ותלברו חשלו שעותלשך וחאית נובש ערששף.\
						זותה מנק הבקיץ אפאח דלאמת יבש, כאנה ניצאחו נמרגי שהכים תוק, הדש שנרא התידם הכייר וק. 
						</p>
				    </mat-expansion-panel>
				</mat-accordion>
			</mat-tab>
		</mat-tab-group>
	</div>
</section>