<section id="client-info" class="gradient-background">
	<div class="container">
		<h1>פרטי לקוח</h1>
		<form #clientInfoForm="ngForm" (ngSubmit)="onSubmit(clientInfoForm)">
			<div class="row">
				<div class="col-sm-6">
					<mat-form-field>
						<input matInput required placeholder="שם פרטי" name="name" ngModel tabindex="5" />
					</mat-form-field>
				</div>
				<div class="col-sm-6">
					<mat-form-field>
						<input matInput required placeholder="שם משפחה" name="soname" ngModel tabindex="6"/>
					</mat-form-field>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-6">
					<mat-form-field>
						<input matInput required placeholder="טלפון נייד" name="tel" tabindex="7"
						(keypress)="numberTel_keyPress($event)"
						ngModel />
						<span matPrefix>{{ telPrefix }}</span>
					</mat-form-field>
				</div>
				<div class="col-sm-6">
					<mat-form-field>
						<input matInput name="email" placeholder="דוא״ל לקבלת חשבונית" tabindex="8"
						required
						[pattern]="emailPattern"
						ngModel/>
					</mat-form-field>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12 checked-wrapper">
					<mat-checkbox [align]="true" name="checked" [ngModel]="isChecked">מאשר קבלת דיוור למייל</mat-checkbox>
				</div>
				<div class="col-sm-12">
					<button mat-button class="bg-button bg-green-button" 
					[disabled]="!clientInfoForm.valid"
					(click)="scrollAnimate(delivery)"
					(click)="scrollAnimate(simactiveform)"
					(click)="isShow='show'">המשך  </button>
				</div>
			</div>
		</form>
	</div>
</section>

<!--  -->
<!-- <pre>{{ formSimData | json }}</pre> -->
<!-- <pre>{{ routeCurentPath | json }}</pre> -->
<!-- <pre>{{ routePackage | json }}</pre> -->
<!--  -->


<!-- app-sim-active-form -->
<div [@toggleHeight]="isShow" #simactiveform>
	<app-sim-active-form
	    *ngIf="routeCurentPath == 'distributors' "
		[clientInfoFormData]="clientInfoForm.value">
	</app-sim-active-form>
</div>

<!-- app-delivery -->
<div [@toggleHeight]="isShow" #delivery>
	<app-delivery
	    *ngIf="routePackage != undefined "
		[clientInfoFormData]="clientInfoForm.value">
	</app-delivery>
</div>



