@import '../assets/scss/typography.scss';

#client-info{
	
	h1{
		text-align: center;
		margin-top: 40px;
		color: $white;
		font-weight: 700;
		margin-bottom: 50px;
	}
	.bg-button{
		margin-top: 10px;
		margin-bottom: 80px;
	}
	.checked-wrapper{
		color: $white;
		position: absolute;
		z-index: 1;
    	margin-top: 10px;
	    width: max-content;
		right: 0;
		.mat-checkbox-label{
			color: $white;
			font-size: 18px;
			line-height: 2.413;
		}
	}

	#my-select .mat-checkbox-label{
		color: $white !important;
	}

	
}

/* Medium devices (desktops, 992px and up) */
@media only screen and (max-width: 992px) {
	#client-info{
		.checked-wrapper{
			position: static;
			width: 100%;
			text-align: right;
		}
	}
}