@import '../assets/scss/typography.scss';


#client-info{
	@include gradient-background();

	h1{
		text-align: center;
		margin-top: 40px;
		color: $white;
		font-weight: 700;
		margin-bottom: 102px;
	}
	

	.bg-button{
		margin-top: 10px;
		margin-bottom: 80px;
	}


	.checked-wrapper{
		color: $white;
		position: absolute;
    	margin-top: 10px;
	    width: max-content;
		right: -14px;

		.mat-checkbox-label{
			color: $white;
		}
	}

	#my-select .mat-checkbox-label{
		color: #fff !important;
	}
}

