<section id="client-info" class="gradient-background">
	<div class="container">
		<h1>פרטי לקוח</h1>
		<form #clientInfoForm="ngForm" (ngSubmit)="onSubmit(clientInfoForm)">
			<div class="row">
				<div class="col-sm-6">
					<mat-form-field>
						<input matInput required placeholder="שם משפחה" name="soname" ngModel />
					</mat-form-field>
				</div>
				<div class="col-sm-6">
					<mat-form-field>
						<input matInput required placeholder="שם פרטי" name="name" ngModel />
					</mat-form-field>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-6">
					<mat-form-field>
						<input matInput name="email" placeholder="דוא״ל לקבלת חשבונית"
						required
						[pattern]="emailPattern"
						ngModel/>
					</mat-form-field>
				</div>
				<div class="col-sm-6">
					<mat-form-field>
						<input matInput required placeholder="טלפון נייד" name="tel" 
						(keypress)="numberTel_keyPress($event)"
						ngModel />
					</mat-form-field>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12 checked-wrapper">
					<mat-checkbox name="checked" [ngModel]="isChecked">מאשר קבלת דיוור למייל</mat-checkbox>
				</div>
				<div class="col-sm-12">
					<button mat-button class="bg-button bg-green-button" 
					[disabled]="!clientInfoForm.valid">המשך</button>
				</div>
			</div>
		</form>
		
		<!-- <h1>{{formSimData | json}}</h1> -->
		<!-- <pre>{{ clientInfoForm.value | json }}</pre> -->
		<!-- <pre>{{ clientInfoForm.value.name | json }}</pre> -->
		<!-- <pre>{{ clientInfoForm.valid | json }}</pre> -->

	</div>
</section>

<app-sim-active-form
	[clientInfoFormData]="clientInfoForm.value" 
	*ngIf="clientInfoForm.submitted && clientInfoForm.valid">
</app-sim-active-form>