<section id="offers" (mousemove)="initSlider()" #offers>

	<!-- *ngIf="packagesResponse.length != 0" mousemove-->
	<!-- <pre>{{ packagesResponse | json }}</pre> -->

	<div class="container">
		<h1>טוסים ל
			<span *ngIf="flyFormValue" #flyFormCountries (click)="initSlider()">
				<span *ngIf="flyFormValue.country" class="first-country">{{flyFormValue.country}}</span>
				<span *ngIf="flyFormValue.country2">
					{{ (flyFormValue.country3? ',' : 'ו') }}{{ flyFormValue.country2 }}
				</span>
				<span *ngIf="flyFormValue.country3">{{ 'ו' + flyFormValue.country3}}</span>
			</span>
			?
		</h1>

		<h3 *ngIf="packagesResponseLength == 0">לא נמצאו חבילות מתאימות</h3>

		<h3 *ngIf="packagesResponseLength != 0">אלה החבילות שהכי מתאימות לכם</h3>
		
		<div class="flex-center-bertical" *ngIf="packagesResponseLength != 0">
			<!-- slider -->
			<swiper [config]="config" [(index)]="index" (indexChange)="onIndexChange($event)">
				<div class="swiper-slide"
				[ngClass]="[packagesResponseLength == 1 ? '' : '']"
				(click)="routPackage( slide )"
				*ngFor="let slide of packagesResponse">
					<div class="slide-header">
						<h1>{{ slide['Name'] }}</h1>
						<h3>{{ slide['Type'] }}</h3>
					</div>
					<div class="slide-content">
						<div class="most popular" 
						*ngIf="slide == packagesResponse[1]">Most popular</div>
						<div class="most economic" 
						*ngIf="slide == packagesResponse[2]">Most economic</div>
						<div class="price">₪ {{ slide['PackagePrice'] }}</div>
						<div class="days">( {{ slide['DaysExpired'] }} ימים  )</div>

						<div class="slide-content">
							<span *ngFor="let item of slide['Details']">{{ item }}</span>
						</div>

						<button type="submit"
						mat-button class="bg-button"
						>!הזמינו עכשיו  </button>
					</div>
				</div>
			</swiper><!-- #slider -->
 

			<div class="custome-navigate-slider" *ngIf="packagesResponseLength > 1">
				<div class="back nav-arrow" (click)="prevSlide(600)"
					*ngIf="hidePrev">
					<i class="material-icons">keyboard_arrow_left</i>
				</div>

				<div class="next nav-arrow" (click)="nextSlide(600)"
					*ngIf="hideNext">
					<i class="material-icons">keyboard_arrow_right</i>
				</div>
			</div>
		</div>

	</div>
</section>

<!-- <pre>{{ packagesResponseLength | json }}</pre> -->
