@import '../assets/scss/typography.scss';

#offers{
	padding-top: 40px;
	padding-bottom: 80px;
	.flex-center-bertical{
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: relative;
	}
	.first-country{
		margin-right: -6px;
	}
	h1{
		text-align: center;
		margin-top: 50px;
		color: $purpleDark;
		margin-bottom: 20px;
		direction: rtl;
	}
	h3{
		text-align: center;
		color: $grayDark;
		margin-bottom: 30px;
	}
	swiper{
		display: block;
		padding: 0 60px;
		min-height: 560px;
	}
	// navigate
	.custome-navigate-slider{
		position: absolute;
		right: 0;
		left: 0;
		// padding: 0 20px;
		.nav-arrow{
			display: inline-block;
			i{
				font-size: 50px;
				color: #d3d3d3;
				cursor: pointer;
			}
			i::selection {
			   background: transparent;
			}
		}
		.back{
			float: left;
		}
		.next{
			float: right;
		}
	}
	.swiper-slide{
		margin-top: 30px;
		margin-bottom: 60px;
		background: $mainBackground;
		border-radius: 6px;
		cursor: pointer;
		box-shadow: 0px 2px 9.8px 0.2px rgba(0, 0, 0, 0.16);
		&.one-slide{
			margin: 0 auto !important;
		}
		.slide-header{
			transition: all .3s;
			background: $gradient-background-blue;
			h1{
				margin: 0;
				color: $white;
			    padding-top: 12px;
			}
			h3{
				color: $white;
				margin-top: 0;
				font-weight: 600;
				padding-bottom: 10px;
			}
		}
		.slide-content{
			text-align: center;
			.most{
				position: absolute;
				top: 68px;
				right: 0;
				color: #fff;
				padding: 4px 20px 4px 35px;
				border-bottom-left-radius: 58px;
				text-transform: uppercase;
				font-weight: 600;
			}
			.most{
				background: $gradient-background-purple;
			}
			.economic{
				background: $gradient-background-purple;
			}
			.price{
				transition: all .3s;
  				font-size: 66px;
  				font-weight: 900;
  				line-height: 1;
				color: rgb(1, 120, 177);
			}
			.days{
				color: rgb(1, 120, 177);
				font-size: 20px;
				font-weight: 600;
				margin-top: 4px;
				direction: rtl;
			}
			.slide-content{
				color: $black;
				line-height: 1.5;
				font-size: 20px;
				padding: 50px 20px 0;
				span{
					display: inline-block;
					direction: rtl;
				}
			}
			button{
				background: $gradient-background-blue;
				max-width: 230px;
				margin: 30px auto;
				display: block;
			}
		}
		// 1-th slider
		&.swiper-slide-active{
			margin-bottom: 60px;
		}
		// 2-th slider
		&.swiper-slide-next{
			margin-top: 0;
			margin-bottom: 10px;
			.slide-content{
				.price{
					margin-top: 50px;
				}
				.slide-content{
					padding-bottom: 60px;
				}
			}
		}
		// blue slide
		&:nth-child(6n-5){
			.slide-header{
				background: $gradient-background-blue;
			}
			.slide-content{
				.days,
				.price{
					color: rgb(1, 120, 177);
				}
				button{
					background: $gradient-background-blue;
				}
			}
		}
		// blue dark slide
		&:nth-child(6n-4){
			.slide-header{
				background: $gradient-background-blue-dark;
			}
			.slide-content{
				.days,
				.price{
					color: rgb(71, 50, 132);
				}
				button{
					background: $gradient-background-blue-dark;
				}
			}
		}
		// orange slide
		&:nth-child(6n-3){
			.slide-header{
				background: $gradient-background-orange;
			}
			.slide-content{
				.days,
				.price{
					color: rgb(240, 74, 32);
				}
				button{
					background: $gradient-background-orange;
				}
			}
		}
		// yellow green slide
		&:nth-child(6n-2){
			.slide-header{
				background: $gradient-background-yellow-green;
			}
			.slide-content{
				.days,
				.price{
					color: rgb(71, 50, 132);
				}
				button{
					background: $gradient-background-yellow-green;
				}
			}
		}
		// pink slide
		&:nth-child(6n-1){
			.slide-header{
				background: $gradient-background-pink;
			}
			.slide-content{
				.days,
				.price{
					color: rgb(240, 74, 32);
				}
				button{
					background: $gradient-background-pink;
				}
			}
		}
		// purple slide
		&:nth-child(6n){
			.slide-header{
				background: $gradient-background-purple;
			}
			.slide-content{
				.days,
				.price{
					color: rgb(1, 120, 177);
				}
				button{
					background: $gradient-background-purple;
				}
			}
		}
	}
}


/* Small devices (tablets, 768px and up) */
@media only screen and (max-width: 768px) {
	
}

/* Small devices (tablets, 540px and up) */
@media only screen and (max-width: 540px) {
	#offers{
		swiper{
			padding: 0 20px;
		}
		.swiper-slide{
			margin-bottom: 10px;
		}
		// navigate
		.custome-navigate-slider{
			position: absolute;
			right: -15px;
			left: -15px;
			.nav-arrow{
				display: inline-block;
				i{
					font-size: 36px;
					color: #d3d3d3;
					cursor: pointer;
				}
			}
		}
	}
}